{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'administration.user.delete.title'|trans({ '%email%': user.email }) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/users.svg') }}" class="w-50 mb-5" alt="" />
            </div>
        </div>

        <form method="post">
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">{{ 'administration.user.delete.title'|trans({ '%email%': user.email }) }}</h2>

                            <div class="alert alert-important alert-danger">
                                <p>
                                    {{ 'administration.user.delete.confirm'|trans({ '%email%': '<strong>' ~ user.email|escape ~ '</strong>' })|raw }}
                                </p>
                                <p>
                                    {{ 'general.infoUndo'|trans }}
                                </p>
                            </div>

                            {% if app.user == user %}
                                <div class="alert alert-info">{{ 'administration.user.delete.infoCantSelfDelete'|trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="delete-token" value="{{ csrf_token('delete-user') }}"/>

            <div class="row mt-3">
                <div class="col-12 col-md-auto mt-2 mt-md-0">
                    <a href="{{ path('administration_user_list') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'administration.user.backToOverview'|trans }}
                    </a>
                </div>
                <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                    {% if app.user != user %}
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="ti ti-circle-minus"></i>
                            {{ 'action.delete'|trans }}
                        </button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}