{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% if isNewUser %}
    {% set pageTitle = 'administration.user.create.title'|trans %}
{% else %}
    {% set pageTitle = 'administration.user.modify.title'|trans({ '%email%': user.email }) %}
{% endif %}

{% block documentTitle %}{{ pageTitle }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'administration.user.title'|trans }}  <i class="ti ti-chevron-right"></i>{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/users.svg') }}" class="mb-5 illustration-detail" alt="" />
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">
                            {{ pageTitle }}
                        </h2>

                        {{ form_row(form.email) }}

                        {{ form_widget(form.password) }}

                        {% if not isNewUser %}
                            {{ form_help(form.password) }}
                        {% endif %}

                        <div class="mt-3">
                            {{ form_widget(form.sendPasswordResetEmail) }}
                        </div>

                        <h4 class="mt-3">{{ 'administration.user.roles'|trans }}</h4>
                        {{ form_widget(form.isActiveUser) }}
                        {{ form_widget(form.isAdminUser) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-auto mt-2 mt-md-0">
                <a href="{{ path('administration_user_list') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'administration.user.backToOverview'|trans }}
                </a>
            </div>
            <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="ti ti-device-floppy"></i>
                    {{ 'action.save'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% cspscript %}
        <script>
            $(document).ready(function () {
                $('#form_sendPasswordResetEmail').change(function () {
                    let isActive = $(this).is(':checked');
                    let passwordFields = $('#form_password_plainPassword_first, #form_password_plainPassword_second');

                    passwordFields.prop('disabled', isActive);

                    let isNewUser = {{ isNewUser|json_encode }};
                    if (isNewUser) {
                        if (isActive) {
                            passwordFields.prop('required', false);
                            passwordFields.prev('label').removeClass('required');
                        } else {
                            passwordFields.prop('required', true);
                            passwordFields.prev('label').addClass('required');
                        }
                    }
                }).trigger('change');
            });
        </script>
    {% endcspscript %}
{% endblock %}