{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% if isNewUser %}
    {% set pageTitle = 'administration.user.create.title'|trans %}
{% else %}
    {% set pageTitle = 'administration.user.modify.title'|trans({ '%email%': user.email }) %}
{% endif %}

{% block documentTitle %}{{ pageTitle }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'administration.user.title'|trans }}  <i class="ti ti-chevron-right"></i>{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/users.svg') }}" class="w-50 mb-5" />
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">
                            {{ pageTitle }}
                        </h2>

                        {{ form_row(form.email) }}
                        {{ form_widget(form.password) }}

                        {% if not isNewUser %}
                            {{ form_help(form.password) }}
                        {% endif %}

                        <h4 class="mt-3">{{ 'administration.user.roles'|trans }}</h4>
                        {{ form_widget(form.isActiveUser) }}
                        {{ form_widget(form.isAdminUser) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="{{ path('administration_user_list') }}" class="btn btn-outline-secondary" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'administration.user.backToOverview'|trans }}
                </a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    <i class="ti ti-device-floppy"></i>
                    {{ 'action.save'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}