{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'administration.user.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'administration.user.title'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="{{ path('administration_user_add') }}" class="btn btn-success add-button">
                <i class="ti ti-plus"></i>
                <span>{{ 'administration.user.create.title'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block administrationPageBody %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div id="users">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js')|add_path_prefix }}"></script>
    {% cspscript %}
        <script>
            $(function() {
                $('#users').initDataTables({{ datatable_settings(datatable) }}, {
                    autoWidth: false,
                    searching: false,
                    info: false,
                    columnDefs: [
                        { width: "40%", targets: 0 },
                        { width: "1%", targets: 2 }
                    ]
                });
            });
        </script>
    {% endcspscript %}
{% endblock %}
