{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'Users'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'Users'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="{{ path('administration_user_add') }}" class="btn btn-success">
                <i class="ti ti-plus"></i>
                {{ 'Create user'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div id="users">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#users').initDataTables({{ datatable_settings(datatable) }}, {
                searching: false,
                info: false,
                columnDefs: [
                    { width: "40%", targets: 0 },
                    { width: "1%", targets: 2 }
                ]
            });
        });
    </script>
{% endblock %}
