{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'submission.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'submission.title'|trans }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div id="submissions">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#submissions').initDataTables({{ datatable_settings(datatable) }}, {
                autoWidth: false,
                searching: false,
                info: false,
                columnDefs: [
                    { width: "1%", targets: 0 },
                    { width: "20%", targets: 1 },
                    { width: "15%", targets: 2 },
                    { width: "5%", targets: 3 },
                    { width: "9%", targets: 4 },
                    { width: "15%", targets: 5 },
                    { width: "5%", targets: 7 },
                    { width: "15%", targets: 8 },
                    { width: "1", targets: 9 }
                ]
            });
        });
    </script>
{% endblock %}
