{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'Submission %submissionId%'|trans({ '%submissionId%': submission.id }) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'Submissions'|trans }} <i class="ti ti-chevron-right"></i>{% endblock %}
{% block pageTitle %}{{ 'Submission %submissionId%'|trans({ '%submissionId%': submission.id }) }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ti ti-mailbox"></i>
                            {{ 'Spam'|trans }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'Is spam'|trans }}</h4>
                            <div>
                                {% if submission.spam %}
                                    <span class="text-danger">{{ 'Yes'|trans }}</span>
                                {% else %}
                                    <span class="text-success">{{ 'No'|trans }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'Spam rating'|trans }}</h4>
                            <div>
                                {% if submission.spam %}
                                    <span class="text-danger">
                                {% else %}
                                    <span class="text-success">
                                {% endif %}
                                    {{ submission.spamRating }} / {{ submission.spamDetectionRating }}
                                </span>
                            </div>
                        </div>
                        <div class="">
                            <h4 class="mb-0">{{ 'Submitted at'|trans }}</h4>
                            <div>
                                {{ submission.submittedAt|format_datetime }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ti ti-zoom-check"></i>
                            {{ 'Verification'|trans }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'Is valid'|trans }}</h4>
                            <div>
                                {% if not submission.valid is null %}
                                    {% if submission.valid %}
                                        <span class="text-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="text-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                        <div class="">
                            <h4 class="mb-0">{{ 'Verified at'|trans }}</h4>
                            <div>
                                {% if not submission.valid is null %}
                                    {{ submission.verifiedAt|format_datetime }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ti ti-world"></i>
                            {{ 'Source'|trans }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'Page title'|trans }}</h4>
                            <div>
                                {{ submission.submitToken.pageTitle }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'Page URL'|trans }}</h4>
                            <div>
                                <a href="{{ submission.submitToken.pageUrl }}" target="_blank">
                                    {{ submission.submitToken.pageUrl }}
                                </a>
                            </div>
                        </div>

                        <div class="">
                            <h4 class="mb-0">{{ 'Requested at'|trans }}</h4>
                            <div>
                                {{ submission.submitToken.createdAt|format_datetime }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if submission.ignoredFields|length > 0 %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="ti ti-filter"></i>
                                {{ 'Ignored fields'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-info">{{ 'The following fields were not transmitted because of their field type (in example password or file upload fields).'|trans }}</div>

                            <ul>
                                {% for field in submission.ignoredFields %}
                                    <li>{{ field }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs-12 col-md-8">
                {% for groupKey, groupData in submission.data %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% if groupKey == 'formData' %}
                                    <i class="ti ti-forms"></i>
                                    {{ 'Form data'|trans }}
                                {% elseif groupKey == 'client' %}
                                    <i class="ti ti-user"></i>
                                    {{ 'Client'|trans }}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% for field in groupData %}
                                {% set path = groupKey ~ '.' ~ field.fieldPath %}
                                <div class="row submission-row">
                                    <div class="col-sm-12 col-md-8">
                                        <h4>
                                            {% if groupKey == 'client' %}
                                                {% if field.name == 'ipAddress' %}
                                                    {{ 'IP address'|trans }}
                                                {% elseif field.name == 'asNumber' %}
                                                    {{ 'AS number'|trans }}
                                                {% elseif field.name == 'asOrganization' %}
                                                    {{ 'AS organization'|trans }}
                                                {% elseif field.name == 'country' %}
                                                    {{ 'Country'|trans }}
                                                {% else %}
                                                    {{ field.name }}
                                                {% endif %}
                                            {% else %}
                                                {{ field.name }}
                                            {% endif %}
                                        </h4>
                                        {% if field.value|trim != '' %}
                                            <code>{{ field.value|nl2br }}</code>
                                        {% else %}
                                            <em>{{ 'Empty'|trans }}</em>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        {% set totalPoints = 0 %}
                                        {% if path in submission.matchedRuleItems|keys %}
                                            {% for match in submission.matchedRuleItems[path] %}
                                                {% set totalPoints = totalPoints + match.rating %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                {% if totalPoints > 0 %}
                                                    <span class="text-danger submission-spam-value">
                                                {% else %}
                                                    <span class="text-muted">
                                                {% endif %}
                                                        {{ '%totalPoints% points'|trans({ '%totalPoints%': totalPoints }) }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                {% if path in submission.matchedRuleItems|keys %}
                                                    <table class="table table-bordered table-sm table-vcenter mt-2 mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th>{{ 'Value'|trans }}</th>
                                                            <th width="15%" class="text-center">{{ 'Rating'|trans }}</th>
                                                            <th width="1"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for match in submission.matchedRuleItems[path] %}
                                                            <tr>
                                                                <td>{{ match.value }}</td>
                                                                <td class="text-center">
                                                                    {% if match.rating > 0 %}
                                                                        <span class="text-danger">
                                                                    {% else %}
                                                                        <span class="text-success">
                                                                    {% endif %}
                                                                        {{ match.rating }}
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    {% set url = get_rule_detail_url(match.uuid) %}
                                                                    {% if url != '' %}
                                                                        <a href="{{ url }}#{{ match.uuid }}" class="btn btn-ghost-info btn-sm btn-icon-only" target="_blank">
                                                                            <i class="ti ti-info-circle"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}