{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'submission.view.title'|trans({ '%submissionId%': submission.id }) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'submission.title'|trans }} <i class="ti ti-chevron-right"></i>{% endblock %}
{% block pageTitle %}{{ 'submission.view.title'|trans({ '%submissionId%': submission.id }) }}{% endblock %}

{% macro dataTable(data, helpText) %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'dataTable.name'|trans }}</th>
                <th>
                    {{ 'dataTable.value'|trans }}
                    {% if helpText %}
                        <span class="data-table-help" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ helpText|trans }}">
                            <i class="ti ti-question-circle"></i>
                        </span>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in data %}
                <tr>
                    <td>
                        <code class="data-table-key">{{ key }}</code>
                    </td>
                    <td>
                        {% if value is iterable %}
                            {{ _self.dataTable(value) }}
                        {% elseif value != '' %}
                            <code>
                                {% if value == 'true' or value == 'valid' %}
                                    <span class="text-success">{{ value }}</span>
                                {% elseif value == 'false' or value == 'invalid' %}
                                    <span class="text-danger">{{ value }}</span>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </code>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">
                        <em>{{ 'dataTable.empty'|trans }}</em>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block pageTitleColumn %}
    {{ parent() }}

    {% if submission.issues or activeProject.verificationSimulationMode %}
        <div class="col-12 col-md-auto ms-auto mt-2 mt-md-0">
            <div class="btn-list">
                {% if previousSubmission %}
                    <a href="{{ path('submission_view', { '_projectId': activeProject.id, 'id': previousSubmission.id}) }}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'submission.view.actionDescription.goToNewerSubmission'|trans }}">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'submission.view.action.goToNewerSubmission'|trans }}
                    </a>
                {% endif %}
                {% if nextSubmission %}
                    <a href="{{ path('submission_view', { '_projectId': activeProject.id, 'id': nextSubmission.id}) }}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'submission.view.actionDescription.goToOlderSubmission'|trans }}">
                        {{ 'submission.view.action.goToOlderSubmission'|trans }}
                        <i class="ti ti-icon-right ti-chevron-right"></i>
                    </a>
                {% endif %}

                {% if submission.issues %}
                    <button type="button" class="btn btn-outline-purple" data-bs-toggle="modal" data-bs-target="#verification-issues-modal">
                        <i class="ti ti-input-x"></i>
                        {{ 'submission.view.action.openVerificationIssues'|trans }}
                    </button>
                {% endif %}
                {% if activeProject.verificationSimulationMode %}
                    <button type="button" class="btn btn-outline-purple" data-bs-toggle="modal" data-bs-target="#verification-simulation-modal">
                        <i class="ti ti-route"></i>
                        {{ 'submission.view.action.openVerificationSimulation'|trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ti ti-mailbox"></i>
                            {{ 'submission.view.spam.title'|trans }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'submission.view.spam.isSpam'|trans }}</h4>
                            <div>
                                {% if submission.spam %}
                                    <span class="text-danger"><strong>{{ 'state.yes'|trans }}</strong></span>
                                {% else %}
                                    {% if not submission.spam and submission.spamRating > submission.spamDetectionRating %}
                                        <span class="text-blue"><strong>{{ 'state.ignored'|trans }}</strong></span>
                                    {% else %}
                                        <span class="text-success"><strong>{{ 'state.no'|trans }}</strong></span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'submission.view.spam.spamRating'|trans }}</h4>
                            <div>
                                <span class="{% if submission.spam or submission.spamRating > submission.spamDetectionRating %}text-danger{% else %}text-success{% endif %}">
                                    {{ submission.spamRating }} / {{ submission.spamDetectionRating }}
                                </span>
                            </div>
                        </div>
                        <div class="">
                            <h4 class="mb-0">{{ 'submission.view.spam.submittedAt'|trans }}</h4>
                            <div>
                                {{ submission.submittedAt|date }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ti ti-zoom-check"></i>
                            {{ 'submission.view.verification.title'|trans }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'submission.view.verification.isValid'|trans }}</h4>
                            <div>
                                {% if not submission.valid is null %}
                                    {% if submission.valid %}
                                        <span class="text-success"><strong>{{ 'state.yes'|trans }}</strong></span>
                                    {% else %}
                                        <span class="text-danger"><strong>{{ 'state.no'|trans }}</strong></span>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                        <div class="">
                            <h4 class="mb-0">{{ 'submission.view.verification.verifiedAt'|trans }}</h4>
                            <div>
                                {% if not submission.valid is null %}
                                    {{ submission.verifiedAt|date }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if submission.generalVerifications %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="ti ti-checks"></i>
                                {{ 'submission.view.generalVerifications.title'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% for generalVerification in submission.generalVerifications %}
                                <div class="row {% if not loop.last %}mb-3{% endif %}">
                                    <div class="col-12">
                                        <h4 class="mb-1">
                                            <span class="{% if generalVerification.valid %}text-success{% else %}text-danger{% endif %}">
                                                {% if generalVerification.valid %}
                                                    <i class="ti ti-check"></i>
                                                {% else %}
                                                    <i class="ti ti-x"></i>
                                                {% endif %}
                                                {{ ('submission.view.generalVerifications.features.' ~ generalVerification.key)|trans }}
                                            </span>
                                        </h4>
                                    </div>

                                    {% if generalVerification.key == 'minimumTime' %}
                                        <div class="col-6 mb-1">{{ 'submission.view.generalVerifications.minimumTime.minimumTime'|trans }}</div>
                                        <div class="col-6 mb-1">
                                            <strong>{{ generalVerification.data.minimumTimeSeconds }}</strong> {{ (generalVerification.data.minimumTimeSeconds == 1 ? 'unit.second' : 'unit.seconds')|trans }}
                                        </div>

                                        <div class="col-6">{{ 'submission.view.generalVerifications.minimumTime.measuredTime'|trans }}</div>
                                        <div class="col-6">
                                            <span class="{% if generalVerification.valid %}text-success{% else %}text-danger{% endif %}">
                                                <strong>{{ generalVerification.data.seconds }}</strong> {{ (generalVerification.data.seconds == 1 ? 'unit.second' : 'unit.seconds')|trans }}
                                            </span>
                                        </div>
                                    {% elseif generalVerification.key == 'equalSubmissions' %}
                                        <div class="col-6 mb-1">{{ 'submission.view.generalVerifications.equalSubmissions.maximumAllowed'|trans }}</div>
                                        <div class="col-6 mb-1">
                                            <strong>{{ generalVerification.data.allowed }}</strong> {{ (generalVerification.data.allowed == 1 ? 'unit.submission' : 'unit.submissions')|trans }}
                                        </div>

                                        <div class="col-6">{{ 'submission.view.generalVerifications.equalSubmissions.counted'|trans }}</div>
                                        <div class="col-6">
                                            <span class="{% if generalVerification.valid %}text-success{% else %}text-danger{% endif %}">
                                                <strong>{{ generalVerification.data.actual }}</strong> {{ (generalVerification.data.actual == 1 ? 'unit.submission' : 'unit.submissions')|trans }}
                                            </span>
                                        </div>
                                    {% elseif generalVerification.key == 'proofOfWork' %}
                                        <div class="col-6 mb-1">{{ 'submission.view.generalVerifications.proofOfWork.expectedHash'|trans }}</div>
                                        <div class="col-6 mb-1">
                                            <code class="d-block text-truncate">{{ generalVerification.data.expectedHash }}</code>
                                        </div>

                                        <div class="col-6">{{ 'submission.view.generalVerifications.proofOfWork.generatedHash'|trans }}</div>
                                        <div class="col-6">
                                            <code class="d-block text-truncate {% if generalVerification.valid %}text-success{% else %}text-danger{% endif %}">{{ generalVerification.data.generatedHash }}</code>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ti ti-world"></i>
                            {{ 'submission.view.source.title'|trans }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'submission.view.source.pageTitle'|trans }}</h4>
                            <div>
                                {{ submission.submitToken.pageTitle }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <h4 class="mb-0">{{ 'submission.view.source.pageUrl'|trans }}</h4>
                            <div>
                                <a href="{{ submission.submitToken.pageUrl }}" target="_blank">{{ submission.submitToken.pageUrl }}</a>
                                <i class="ti ti-external-link"></i>
                            </div>
                        </div>

                        <div class="">
                            <h4 class="mb-0">{{ 'submission.view.source.requestedAt'|trans }}</h4>
                            <div>
                                {{ submission.submitToken.createdAt|date }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if submission.ignoredFields|length > 0 %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="ti ti-filter"></i>
                                {{ 'submission.view.ignoredFields.title'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-info">{{ 'submission.view.ignoredFields.intro'|trans }}</div>

                            <ul>
                                {% for field in submission.ignoredFields %}
                                    <li>{{ field }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs-12 col-md-8">
                {% for generalVerification in generalVerifications %}
                    {% if not generalVerification.valid %}
                        <div class="alert alert-danger" role="alert">
                            {% if generalVerification.key == 'minimumTime' %}
                                <div class="d-flex">
                                    <div>
                                        <i class="ti ti-alarm icon alert-icon"></i>
                                    </div>
                                    <div>
                                        <h4 class="alert-title">{{ 'submission.view.generalVerifications.minimumTime.title'|trans }}</h4>
                                        <div class="text-muted">{{ 'submission.view.generalVerifications.minimumTime.text'|trans({'%seconds%': generalVerification.data.seconds, '%minimumTimeSeconds%': generalVerification.data.minimumTimeSeconds}) }}</div>
                                    </div>
                                </div>
                            {% elseif generalVerification.key == 'equalSubmissions' %}
                                <div class="d-flex">
                                    <div>
                                        <i class="ti ti-equal-double icon alert-icon"></i>
                                    </div>
                                    <div>
                                        <h4 class="alert-title">{{ 'submission.view.generalVerifications.equalSubmissions.title'|trans }}</h4>
                                        <div class="text-muted">{{ 'submission.view.generalVerifications.equalSubmissions.text'|trans({'%actualNumberOfEqualSubmissions%': generalVerification.data.actual, '%allowedNumberOfEqualSubmissions%': generalVerification.data.allowed}) }}</div>
                                    </div>
                                </div>
                            {% elseif generalVerification.key == 'proofOfWork' %}
                                <div class="d-flex">
                                    <div>
                                        <i class="ti ti-cpu icon alert-icon"></i>
                                    </div>
                                    <div>
                                        <h4 class="alert-title">{{ 'submission.view.generalVerifications.proofOfWork.title'|trans }}</h4>
                                        <div class="text-muted">{{ 'submission.view.generalVerifications.proofOfWork.text'|trans }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% for groupKey, groupData in submission.data %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% if groupKey == 'formData' %}
                                    <i class="ti ti-forms"></i>
                                    {{ 'submission.view.data.formData.title'|trans }}
                                {% elseif groupKey == 'client' %}
                                    <i class="ti ti-user"></i>
                                    {{ 'submission.view.data.client.title'|trans }}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% for field in groupData %}
                                {% set path = groupKey ~ '.' ~ field.fieldPath %}
                                {% set totalPoints = 0 %}
                                {% if path in submission.matchedRuleItems|keys %}
                                    {% for match in submission.matchedRuleItems[path] %}
                                        {% set totalPoints = totalPoints + match.rating %}
                                    {% endfor %}
                                {% endif %}
                                <div class="row submission-row">
                                    <div class="col-sm-12 col-md-8">
                                        <h4>
                                            {% if groupKey == 'client' %}
                                                {% if field.name == 'ipAddress' %}
                                                    {{ 'submission.view.data.client.ipAddress'|trans }}
                                                {% elseif field.name == 'userAgent' %}
                                                    {{ 'submission.view.data.client.userAgent'|trans }}
                                                {% elseif field.name == 'asNumber' %}
                                                    {{ 'submission.view.data.client.asNumber'|trans }}
                                                {% elseif field.name == 'asOrganization' %}
                                                    {{ 'submission.view.data.client.asOrganization'|trans }}
                                                {% elseif field.name == 'country' %}
                                                    {{ 'submission.view.data.client.country'|trans }}
                                                {% else %}
                                                    {{ field.name }}
                                                {% endif %}
                                            {% else %}
                                                {{ field.name }}

                                                {% if field.type is defined and field.type == 'honeypot' %}
                                                    <span class="badge bg-azure-lt">{{ 'submission.view.data.formData.honeypot'|trans }}</span>
                                                {% elseif not submission.valid is null %}
                                                    {% set verifiedStatus = submission.getVerifiedField(field.name) %}
                                                    {% if verifiedStatus == 'valid' %}
                                                        <span class="badge bg-green-lt" title="{{ 'submission.view.data.formData.valid'|trans }}">
                                                            <i class="ti ti-circle-check"></i>
                                                        </span>
                                                    {% elseif verifiedStatus == 'invalid' %}
                                                        <span class="badge bg-red-lt">{{ 'submission.view.data.formData.invalid'|trans }}</span>
                                                    {% else %}
                                                        <span class="badge bg-purple-lt">{{ 'submission.view.data.formData.notVerified'|trans }}</span>
                                                    {% endif %}
                                                {% elseif totalPoints > 0 %}
                                                    <span class="badge bg-red-lt">{{ 'submission.view.data.formData.hasPoints'|trans }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </h4>
                                        {% if field.value is defined and field.value is iterable and not (field.value is empty) %}
                                            <ul>
                                                {% for subValue in field.value %}
                                                    <li>
                                                        <code class="submission-data">{{ subValue|escape|mark_invisible_characters }}</code>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% elseif field.value is defined and not (field.value is iterable) and field.value|trim != '' %}
                                            <code class="submission-data">{{ field.value|escape|mark_invisible_characters }}</code>
                                        {% else %}
                                            <em>{{ 'general.empty'|trans }}</em>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                <span class="{% if totalPoints > 0 %}text-danger submission-spam-value{% else %}text-muted{% endif %}">
                                                    {{ 'submission.view.data.points'|trans({ '%totalPoints%': totalPoints }) }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                {% if path in submission.matchedRuleItems|keys %}
                                                    {% if submission.matchedRuleItems[path][0].type == 'honeypot' %}
                                                        <span class="badge bg-red">
                                                            {{ 'submission.view.data.fieldMustBeEmpty'|trans }}
                                                        </span>
                                                    {% else %}
                                                        <table class="table table-bordered table-sm table-vcenter matched-rules-table mt-2 mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>{{ 'submission.view.data.value'|trans }}</th>
                                                                    <th class="rating-column" class="text-center">{{ 'submission.view.data.rating'|trans }}</th>
                                                                    <th class="reference-column"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for match in submission.matchedRuleItems[path] %}
                                                                <tr>
                                                                    <td><code>{{ match.value|format_rule_value(match.uuid, app.request.locale) }}</code></td>
                                                                    <td class="text-center">
                                                                        <span class="{% if match.rating > 0 %}text-danger{% else %}text-success{% endif %}">
                                                                            {{ match.rating }}
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        {% set url = get_rule_detail_url(match.uuid) %}
                                                                        {% if url != '' %}
                                                                            <a href="{{ url }}#{{ match.uuid }}" class="btn btn-ghost-info btn-sm btn-icon-only" target="_blank">
                                                                                <i class="ti ti-info-circle"></i>
                                                                            </a>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-auto">
                <a href="{{ path('submission_list', { '_projectId': activeProject.id }) }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'submission.backToList'|trans }}
                </a>
            </div>
        </div>
    </div>

    {% if submission.issues %}
        <div class="modal modal-blur fade" tabindex="-1" id="verification-issues-modal">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i class="ti ti-input-x"></i>
                            {{ 'submission.view.verificationIssues.title'|trans }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans }}"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'submission.view.verificationIssues.intro'|trans }}</p>

                        {% for issue in submission.issues %}
                            {% if issue.name is defined %}
                                <h4>{{ 'submission.view.verificationIssues.labels.fieldIssue'|trans({'%name%': issue.name}) }}</h4>
                            {% else %}
                                <h4>{{ 'submission.view.verificationIssues.labels.generalIssue'|trans }}</h4>
                            {% endif %}

                            <table class="table table-bordered table-striped {% if loop.last %}mb-0{% endif %}">
                                <tbody>
                                    {% if issue.message is defined %}
                                        <tr>
                                            <th class="text-nowrap">
                                                {{ 'submission.view.verificationIssues.labels.message'|trans }}
                                            </th>
                                            <td>
                                                {{ issue.message }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if issue.errorMessage is defined %}
                                        <tr>
                                            <th class="text-nowrap">
                                                {{ 'submission.view.verificationIssues.labels.errorMessage'|trans }}
                                            </th>
                                            <td>
                                                {{ issue.errorMessage }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if issue.debugInformation is defined %}
                                        <tr>
                                            <th class="text-nowrap">
                                                {{ 'submission.view.verificationIssues.labels.debugInformation'|trans }}
                                            </th>
                                            <td>
                                                {{ _self.dataTable(issue.debugInformation) }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal" tabindex="1000">{{ 'action.close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if activeProject.verificationSimulationMode %}
        <div class="modal modal-blur fade verification-simulation" tabindex="-1" id="verification-simulation-modal">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i class="ti ti-route"></i>
                            {{ 'submission.view.verificationSimulation.title'|trans }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans }}"></button>
                    </div>
                    <div class="modal-body">
                        {% if submission.validationToken %}
                            <p>{{ 'submission.view.verificationSimulation.intro'|trans }}</p>

                            <div class="toolbar mb-3">
                                <a href="https://documentation.mosparo.io/docs/integration/custom#performing-verification" target="_blank" class="btn btn-info">
                                    <i class="ti ti-book"></i>
                                    {{ 'submission.view.verificationSimulation.buttons.customIntegration'|trans }}
                                </a>
                                <a href="https://documentation.mosparo.io/docs/api/verification" target="_blank" class="btn btn-info">
                                    <i class="ti ti-book"></i>
                                    {{ 'submission.view.verificationSimulation.buttons.apiDocumentation'|trans }}
                                </a>
                            </div>

                            <div class="accordion" id="simulation-accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-1" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.one.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-1" class="accordion-collapse collapse show" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.one.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.formData'|trans }}
                                                        </th>
                                                        <td>
                                                            {{ _self.dataTable(verificationSimulation.formData, 'submission.view.verificationSimulation.hints.formData') }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.submitToken'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="text-break">{{ submission.submitToken.token }}</code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.validationToken'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="text-break">{{ submission.validationToken }}</code>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-2" aria-expanded="true">
                                            {{ 'submission.view.verificationSimulation.sections.two.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-2" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.two.intro'|trans({'%codeStart%': '<code>', '%codeEnd%': '</code>'})|raw }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.preparedFormData'|trans }}
                                                        </th>
                                                        <td>
                                                            {{ _self.dataTable(verificationSimulation.cleanedFormData, 'submission.view.verificationSimulation.hints.preparedFormData') }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-3" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.three.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-3" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.three.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.hashedFormData'|trans }}
                                                        </th>
                                                        <td>
                                                            {{ _self.dataTable(verificationSimulation.hashedFormData, 'submission.view.verificationSimulation.hints.hashedFormData') }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-4" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.four.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-4" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.four.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.formDataJson'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.formDataJson'|trans }}">{{ verificationSimulation.formDataJson }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.privateKey'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.privateKey'|trans }}">{{ verificationSimulation.privateKey }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.formDataSignature'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="text-break">{{ verificationSimulation.formDataSignature }}</code>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-5" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.five.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-5" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.five.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.validationToken'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.validationToken'|trans }}">{{ submission.validationToken }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.privateKey'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.privateKey'|trans }}">{{ verificationSimulation.privateKey }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.validationSignature'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="text-break">{{ verificationSimulation.validationSignature }}</code>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-6" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.six.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-6" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.six.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                <tr>
                                                    <th class="text-nowrap">
                                                        {{ 'submission.view.verificationSimulation.labels.validationAndFormDataSignature'|trans }}
                                                    </th>
                                                    <td>
                                                        {% apply spaceless %}
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.validationSignature'|trans }}">{{ verificationSimulation.validationSignature }}</span>
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.formDataSignature'|trans }}">{{ verificationSimulation.formDataSignature }}</span>
                                                            </code>
                                                        {% endapply %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-nowrap">
                                                        {{ 'submission.view.verificationSimulation.labels.privateKey'|trans }}
                                                    </th>
                                                    <td>
                                                        <code class="cursor-help">
                                                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.privateKey'|trans }}">{{ verificationSimulation.privateKey }}</span>
                                                        </code>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-nowrap">
                                                        {{ 'submission.view.verificationSimulation.labels.verificationSignature'|trans }}
                                                    </th>
                                                    <td>
                                                        <code class="text-break">{{ verificationSimulation.verificationSignature }}</code>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-7" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.seven.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-7" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.seven.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.apiEndpoint'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="text-break">{{ verificationSimulation.apiEndpoint }}</code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.requestData'|trans }}
                                                        </th>
                                                        <td>
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>{{ 'dataTable.name'|trans }}</th>
                                                                        <th>{{ 'dataTable.value'|trans }}</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <code class="data-table-key">submitToken</code>
                                                                        </td>
                                                                        <td>
                                                                            <code class="cursor-help">
                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.submitToken'|trans }}">{{ verificationSimulation.requestData.submitToken }}</span>
                                                                            </code>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <code class="data-table-key">validationSignature</code>
                                                                        </td>
                                                                        <td>
                                                                            <code class="cursor-help">
                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.validationSignature'|trans }}">{{ verificationSimulation.requestData.validationSignature }}</span>
                                                                            </code>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <code class="data-table-key">formSignature</code>
                                                                        </td>
                                                                        <td>
                                                                            <code class="cursor-help">
                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.formDataSignature'|trans }}">{{ verificationSimulation.requestData.formSignature }}</span>
                                                                            </code>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <code class="data-table-key">formData</code>
                                                                        </td>
                                                                        <td>
                                                                            {{ _self.dataTable(verificationSimulation.requestData.formData, 'submission.view.verificationSimulation.hints.hashedFormDataPlain') }}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-8" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.eight.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-8" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.eight.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.apiEndpointAndRequestDataJson'|trans }}
                                                        </th>
                                                        <td>
                                                            {% apply spaceless %}
                                                                <code class="cursor-help">
                                                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.apiEndpoint'|trans }}">{{ verificationSimulation.apiEndpoint }}</span>
                                                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.requestDataJson'|trans }}">{{ verificationSimulation.requestDataJson }}</span>
                                                                </code>
                                                            {% endapply %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.privateKey'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.privateKey'|trans }}">{{ verificationSimulation.privateKey }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.requestSignature'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="text-break">{{ verificationSimulation.requestSignature }}</code>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-9" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.nine.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-9" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.nine.intro'|trans }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.apiEndpoint'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.apiEndpoint'|trans }}">{{ verificationSimulation.apiEndpoint }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.authorization'|trans }}
                                                        </th>
                                                        <td>
                                                            <table class="table table-bordered table-striped">
                                                                <tbody>
                                                                    <tr>
                                                                        <th class="text-nowrap">
                                                                            {{ 'submission.view.verificationSimulation.labels.username'|trans }}
                                                                        </th>
                                                                        <td>
                                                                            <code class="cursor-help">
                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.publicKey'|trans }}">{{ verificationSimulation.publicKey }}</span>
                                                                            </code>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-nowrap">
                                                                            {{ 'submission.view.verificationSimulation.labels.password'|trans }}
                                                                        </th>
                                                                        <td>
                                                                            <code class="cursor-help">
                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.requestSignature'|trans }}">{{ verificationSimulation.requestSignature }}</span>
                                                                            </code>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <span class="text-muted">{{ 'submission.view.verificationSimulation.info.authorizationHeader'|trans }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.method'|trans }}
                                                        </th>
                                                        <td>
                                                            <code>POST</code>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.headers'|trans }}
                                                        </th>
                                                        <td>
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>{{ 'dataTable.name'|trans }}</th>
                                                                        <th>{{ 'dataTable.value'|trans }}</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <code>Accept</code>
                                                                        </td>
                                                                        <td>
                                                                            <code>application/json</code>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.postData'|trans }}
                                                        </th>
                                                        <td>
                                                            {{ _self.dataTable(verificationSimulation.requestData, 'submission.view.verificationSimulation.hints.requestDataPlain') }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#simcol-item-10" aria-expanded="false">
                                            {{ 'submission.view.verificationSimulation.sections.ten.title'|trans }}
                                        </button>
                                    </h2>
                                    <div id="simcol-item-10" class="accordion-collapse collapse" data-bs-parent="#simulation-accordion">
                                        <div class="accordion-body pt-0">
                                            <p>{{ 'submission.view.verificationSimulation.sections.ten.intro'|trans({'%codeStart%': '<code>', '%codeEnd%': '</code>'})|raw }}</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.response'|trans }}
                                                        </th>
                                                        <td>
                                                            {{ _self.dataTable(verificationSimulation.response, 'submission.view.verificationSimulation.hints.response') }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-nowrap">
                                                            {{ 'submission.view.verificationSimulation.labels.verificationSignature'|trans }}
                                                        </th>
                                                        <td>
                                                            <code class="cursor-help">
                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'submission.view.verificationSimulation.hints.verificationSignature'|trans }}">{{ verificationSimulation.verificationSignature }}</span>
                                                            </code>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'submission.view.verificationSimulation.errors.noValidationToken'|trans }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal" tabindex="1000">{{ 'action.close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}