{% extends 'base.html.twig' %}

{% block documentTitle %}Change password - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/password.svg') }}" class="w-50 mb-5" />
            </div>
        </div>

        {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Change password</h2>

                            {{ form_row(form.oldPassword) }}
                            {{ form_row(form.newPassword) }}
                            {{ form_row(form.newPasswordConfirmed) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <a href="{{ path('account_overview') }}" class="btn btn-outline-secondary" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        Back to overview
                    </a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        <i class="ti ti-key"></i>
                        Change password
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}