{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'account.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'account.title'|trans }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="empty">
                        <div class="empty-img">
                            <a href="{{ path('account_settings') }}">
                                <img src="{{ asset('build/images/icons/personal-settings.svg') }}" height="128" alt="" />
                            </a>
                        </div>
                        <p class="empty-title">{{ 'account.settings.title'|trans }}</p>
                        <p class="empty-subtitle text-muted">
                            {{ 'account.settings.description'|trans }}
                        </p>
                        <div class="empty-action">
                            <a href="{{ path('account_settings') }}" class="btn btn-primary">
                                <i class="ti ti-settings"></i>
                                {{ 'action.configure'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="empty">
                        <div class="empty-img">
                            <a href="{{ path('account_change_password') }}">
                                <img src="{{ asset('build/images/icons/password.svg') }}" height="128" alt="" />
                            </a>
                        </div>
                        <p class="empty-title">{{ 'account.changePassword.title'|trans }}</p>
                        <p class="empty-subtitle text-muted">
                            {{ 'account.changePassword.description'|trans }}
                        </p>
                        <div class="empty-action">
                            <a href="{{ path('account_change_password') }}" class="btn btn-primary">
                                <i class="ti ti-key"></i>
                                {{ 'account.changePassword.title'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="empty">
                        <div class="empty-img">
                            <a href="{{ path('account_two_factor_status') }}">
                                <img src="{{ asset('build/images/icons/two-factor.svg') }}" height="128" alt="" />
                            </a>
                        </div>
                        <p class="empty-title">{{ 'account.twoFactor.title'|trans }}</p>
                        <p class="empty-subtitle text-muted">
                            {{ 'account.twoFactor.description'|trans }}
                        </p>
                        <div class="empty-action">
                            <a href="{{ path('account_two_factor_status') }}" class="btn btn-primary">
                                <i class="ti ti-2fa"></i>
                                {{ 'account.twoFactor.action.configure'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}