{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'account.settings.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/personal-settings.svg') }}" class="mb-5 illustration-detail" alt="" />
            </div>
        </div>

        {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">{{ 'account.settings.title'|trans }}</h2>

                            {{ form_row(form.locale) }}
                            {{ form_row(form.dateFormat) }}
                            {{ form_row(form.timeFormat) }}
                            {{ form_row(form.timezone) }}
                            {{ form_row(form.colorMode) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-auto mt-2 mt-md-0">
                    <a href="{{ path('account_overview') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'account.backToOverview'|trans }}
                    </a>
                </div>
                <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="ti ti-device-floppy"></i>
                        {{ 'action.save'|trans }}
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}