{% extends 'small.html.twig' %}

{% block documentTitle %}Login - {{ parent() }}{% endblock %}

{% block small_body %}
    <form method="post">
        <h2 class="card-title text-center mb-4">Login to your account</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info">
                You are logged in as {{ app.user.username }}. <a href="{{ path('security_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label" for="field-email">Email address</label>
            <input type="email" id="field-email" name="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="mb-2">
            <label class="form-label" for="field-password">
                Password
                <span class="form-label-description">
                    <a href="{{ path('security_reset') }}">I forgot password</a>
                </span>
            </label>
            <input type="password" id="field-password" name="password" class="form-control" placeholder="Password" autocomplete="off">
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                <i class="ti ti-login"></i>
                Sign in
            </button>
        </div>
    </form>
{% endblock %}
