{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'security.login.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    <form method="post">
        <h2 class="card-title text-center mb-4">{{ 'security.login.title'|trans }}</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% block pageFlashes %}
            {% set flashes = app.flashes %}
            {% if flashes|length > 0 %}
                    {% for label, messages in flashes %}
                        {%- if label == 'notice' -%}
                            {% set class = 'info' %}
                        {%- elseif label == 'success' -%}
                            {% set class = 'success' %}
                        {%- elseif label == 'warning' -%}
                            {% set class = 'warning' %}
                        {%- elseif label == 'error' -%}
                            {% set class = 'danger' %}
                        {%- endif -%}
                        {% for message in messages %}
                            <div class="alert alert-{{ class }}">
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
            {% endif %}
        {% endblock %}

        {% if app.user %}
            <div class="alert alert-info">
                {{ 'security.login.youAreLoggedIn'|trans({'%username%': app.user.username}, 'mosparo') }} <a href="{{ path('security_logout', {'token' : csrf_token('logout')}) }}">{{ 'security.logout.title'|trans }}</a>
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label required" for="field-email">{{ 'security.login.emailLabel'|trans }}</label>
            <input type="email" id="field-email" name="_username" class="form-control" autofocus>
        </div>
        <div class="mb-2">
            <label class="form-label required" for="field-password">
                {{ 'security.login.passwordLabel'|trans }}
                <span class="form-label-description">
                    <a href="{{ path('security_reset') }}" tabindex="4">{{ 'security.forgotPassword.title'|trans }}</a>
                </span>
            </label>
            <input type="password" id="field-password" name="_password" class="form-control" autocomplete="off">
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                <i class="ti ti-login"></i>
                {{ 'security.login.title'|trans }}
            </button>
        </div>
    </form>
{% endblock %}
