{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% if isNew %}
    {% set title = 'settings.security.guideline.add.title'|trans %}
{% else %}
    {% set title = 'settings.security.guideline.edit.title'|trans({ '%guidelineName%': guideline.name }) %}
{% endif %}

{% block documentTitle %}{{ title }} - {{ 'settings.security.title'|trans }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'settings.security.title'|trans }}  <i class="ti ti-chevron-right"></i>{% endblock %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'settings.security.guideline.form.guideline.title'|trans }}</h3>
                        </div>
                        <div class="card-body">
                            {{ form_row(form.name) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.priority) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    {% for error in form.vars.errors %}
                        <div class="alert alert-danger">
                            {{ error.message }}
                        </div>
                    {% endfor %}

                    <div class="card mb-3">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'settings.security.guideline.form.criteria.title'|trans }}</h3>
                        </div>
                        <div class="card-body guideline-criteria">
                            <p>
                                {{ 'settings.security.guideline.form.criteria.intro'|trans }}
                            </p>
                            <p>
                                {{ 'settings.security.guideline.form.criteria.intro2'|trans }}
                            </p>

                            <h3 class="mb-0">{{ 'settings.security.guideline.form.categories.ipBased.label'|trans }}</h3>
                            <p>{{ 'settings.security.guideline.form.categories.ipBased.intro'|trans }}</p>

                            <div class="card-tabs mb-3">
                                <ul class="nav nav-tabs" data-bs-toggle="tabs">
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-ip-based-subnets" class="nav-link active tab-with-items-counter" data-bs-toggle="tab">
                                            <i class="ti ti-network"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.security.guideline.form.criteria.subnets'|trans }}
                                            </span>
                                            <span class="badge bg-secondary ms-2 items-counter">0</span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-ip-based-country-codes" class="nav-link tab-with-items-counter" data-bs-toggle="tab">
                                            <i class="ti ti-world-pin"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.security.guideline.form.criteria.countryCodes'|trans }}
                                            </span>
                                            <span class="badge bg-secondary ms-2 items-counter">0</span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-ip-based-as-numbers" class="nav-link tab-with-items-counter" data-bs-toggle="tab">
                                            <i class="ti ti-affiliate"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.security.guideline.form.criteria.asNumbers'|trans }}
                                            </span>
                                            <span class="badge bg-secondary ms-2 items-counter">0</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="card tab-pane active show" id="tabs-ip-based-subnets">
                                        <div class="card-body">
                                            {{ form_widget(form.subnets) }}
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-ip-based-country-codes">
                                        <div class="card-body">
                                            {% if not geoIp2Active %}
                                                <div class="alert alert-info">
                                                    {{ 'settings.security.guideline.form.infoGeoIp2Disabled'|trans }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.countryCodes) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-ip-based-as-numbers">
                                        <div class="card-body">
                                            {% if not geoIp2Active %}
                                                <div class="alert alert-info">
                                                    {{ 'settings.security.guideline.form.infoGeoIp2Disabled'|trans }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.asNumbers) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="mb-0">{{ 'settings.security.guideline.form.categories.formBased.label'|trans }}</h3>
                            <p>{{ 'settings.security.guideline.form.categories.formBased.intro'|trans }}</p>

                            <div class="card-tabs">
                                <ul class="nav nav-tabs" data-bs-toggle="tabs">
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-form-based-page-urls" class="nav-link active tab-with-items-counter" data-bs-toggle="tab">
                                            <i class="ti ti-world"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.security.guideline.form.criteria.formPageUrls'|trans }}
                                            </span>
                                            <span class="badge bg-secondary ms-2 items-counter">0</span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-form-based-action-urls" class="nav-link tab-with-items-counter" data-bs-toggle="tab">
                                            <i class="ti ti-world-cog"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.security.guideline.form.criteria.formActionUrls'|trans }}
                                            </span>
                                            <span class="badge bg-secondary ms-2 items-counter">0</span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-form-based-ids" class="nav-link tab-with-items-counter" data-bs-toggle="tab">
                                            <i class="ti ti-tag"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.security.guideline.form.criteria.formIds'|trans }}
                                            </span>
                                            <span class="badge bg-secondary ms-2 items-counter">0</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="card tab-pane active show" id="tabs-form-based-page-urls">
                                        <div class="card-body">
                                            {{ form_widget(form.formPageUrls) }}
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-form-based-action-urls">
                                        <div class="card-body">
                                            {{ form_widget(form.formActionUrls) }}
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-form-based-ids">
                                        <div class="card-body">
                                            {{ form_widget(form.formIds) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="h2 mt-4">{{ 'settings.security.guideline.form.settings.title'|trans }}</h3>
                    <div class="alert alert-info">
                        {{ 'settings.security.guideline.form.settings.intro'|trans }}
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header card-header-with-override-option">
                                    <h3 class="card-title">{{ 'settings.security.spamDetection.title'|trans }}</h3>
                                    {% if form.configValues.overrideSpamDetection is defined %}
                                        {{ form_widget(form.configValues.overrideSpamDetection) }}
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <p>
                                        {{ 'settings.security.spamDetection.intro'|trans }}
                                    </p>

                                    <div class="row">
                                        <div class="col mb-3">
                                            {{ form_row(form.configValues.spamStatus) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(form.configValues.spamScore) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'project_related/settings/security/form/security_settings.html.twig' with { 'form': form.configValues } %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-auto mt-2 mt-md-0">
                    <a href="{{ path('settings_security', { '_projectId': activeProject.id }) }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'settings.security.backToSecurity'|trans }}
                    </a>
                </div>

                <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="ti ti-device-floppy"></i>
                        {{ 'action.save'|trans }}
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'project_related/settings/security/form/scripts.html.twig' %}

    {% cspscript %}
        <script>
            function updateItemsCounter()
            {
                $('.tab-with-items-counter').each(function () {
                    let id = $(this).attr('href');
                    let tabBody = $(id);
                    let counter = 0;
                    tabBody.find('.collection-list li').each(function () {
                        if ($(this).find('input').val()) {
                            counter++;
                        }
                    });

                    let counterEl = $(this).find('.items-counter');
                    if (counter) {
                        counterEl.removeClass('bg-secondary').addClass('bg-blue').text(counter);
                    } else {
                        counterEl.addClass('bg-secondary').removeClass('bg-blue').text(counter);
                    }
                });
            }

            $(document).ready(function () {
                updateItemsCounter();

                $('.guideline-criteria').on('change', 'input', updateItemsCounter);
                $('.collection-list').on('collection-item-removed', updateItemsCounter);
            });
        </script>
    {% endcspscript %}
{% endblock %}