{% trans_default_domain 'mosparo' %}

<div class="d-flex action-buttons-list">
    <a href="{{ path('project_dashboard', { '_projectId': row.id }) }}" class="btn btn-secondary me-2">
        <i class="ti ti-cube"></i>
        {{ 'project.action.goto'|trans }}
    </a>
    <div class="col-auto dropdown">
        <button type="button" class="btn btn-ghost-white btn-icon-only dropdown-toggle" data-bs-toggle="dropdown">
            <i class="ti ti-settings"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end">
            <div class="dropdown-item disabled">
                {{ 'project.action.id'|trans }}
                <span class="ms-auto">{{ row.id }}</span>
            </div>
            {% if can_user_manage_project(row) %}
                <div class="dropdown-divider"></div>
                <a href="{{ path('project_delete', { '_projectId': row.id }) }}" class="dropdown-item text-red">
                    <i class="ti ti-circle-minus"></i>
                    {{ 'project.action.delete'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
</div>