{% trans_default_domain 'mosparo' %}

{% macro complexityRow(field) %}
    <div class="col-sm-12 col-lg-6">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    {{ form_label(field) }}
                    <div class="input-group">
                        <button class="btn btn-icon-only btn-decrease-value" type="button">
                            <i class="ti ti-minus"></i>
                        </button>
                        {{ form_widget(field) }}
                        <button class="btn btn-icon-only btn-increase-value" type="button">
                            <i class="ti ti-plus"></i>
                        </button>
                    </div>
                    {{ form_help(field) }}
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <label class="form-label">{{ 'settings.security.crypto.numberRange'|trans }}</label>
                <input type="text" class="form-control max-number always-disabled text-center" value="" autocomplete="off" disabled>
            </div>
        </div>
        <div class="form-text mb-0 help-text">{{ 'settings.security.crypto.rangeSizeHelp'|trans }}</div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <label class="form-label">{{ 'settings.security.crypto.maximumTimeToSolve'|trans }}</label>
                <div class="input-group">
                    <input type="text" class="form-control max-estimated-time-to-solve always-disabled text-end" value="" autocomplete="off" disabled>
                    <span class="input-group-text">
                        {{ 'unit.secondsShort'|trans }}
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <label class="form-label">{{ 'settings.security.crypto.speed'|trans }}</label>
                <div class="input-group">
                    <input type="text" class="form-control crypto-speed always-disabled text-end" value="" autocomplete="off" disabled>
                    <span class="input-group-text">
                        {{ 'unit.hashesPerSecondShort'|trans }}
                    </span>
                </div>
            </div>
        </div>
        <div class="form-text mb-0 help-text">{{ 'settings.security.crypto.cryptoSpeedHelp'|trans }}</div>
    </div>
{% endmacro %}

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header card-header-with-override-option">
                <h3 class="card-title">{{ 'settings.security.minimumTime.title'|trans }}</h3>
                {% if form.overrideMinimumTime is defined %}
                    {{ form_widget(form.overrideMinimumTime) }}
                {% endif %}
            </div>
            <div class="card-body">
                <p>
                    {{ 'settings.security.minimumTime.intro'|trans }}
                </p>

                <div class="row">
                    <div class="col mb-3">
                        {{ form_row(form.minimumTimeActive) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.minimumTimeSeconds) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header card-header-with-override-option">
                <h3 class="card-title">{{ 'settings.security.honeypot.title'|trans }}</h3>
                {% if form.overrideHoneypotField is defined %}
                    {{ form_widget(form.overrideHoneypotField) }}
                {% endif %}
            </div>
            <div class="card-body">
                <p>
                    {{ 'settings.security.honeypot.intro'|trans }}
                </p>
                <p>
                    {{ 'settings.security.honeypot.infoField'|trans }}
                </p>

                <div class="row">
                    <div class="col mb-3">
                        {{ form_row(form.honeypotFieldActive) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.honeypotFieldName) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header card-header-with-override-option">
                <h3 class="card-title">{{ 'settings.security.requestDelaying.title'|trans }}</h3>
                {% if form.overrideDelay is defined %}
                    {{ form_widget(form.overrideDelay) }}
                {% endif %}
            </div>
            <div class="card-body">
                <p>
                    {{ 'settings.security.requestDelaying.intro'|trans }}
                </p>
                <p>
                    {{ 'settings.security.requestDelaying.infoIpAddress'|trans }}
                </p>

                <div class="row">
                    <div class="col mb-3">
                        {{ form_row(form.delayActive) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-3">
                        {{ form_row(form.delayNumberOfRequests) }}
                    </div>
                    <div class="col-sm-12 col-lg-6 mb-3">
                        {{ form_row(form.delayDetectionTimeFrame) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-3 mb-lg-0">
                        {{ form_row(form.delayTime) }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.delayMultiplicator) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header card-header-with-override-option">
                <h3 class="card-title">{{ 'settings.security.ipLockout.title'|trans }}</h3>
                {% if form.overrideLockout is defined %}
                    {{ form_widget(form.overrideLockout) }}
                {% endif %}
            </div>
            <div class="card-body">
                <p>
                    {{ 'settings.security.ipLockout.intro'|trans }}
                </p>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(form.lockoutActive) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.lockoutNumberOfRequests) }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.lockoutDetectionTimeFrame) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.lockoutTime) }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.lockoutMultiplicator) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header card-header-with-override-option">
                <h3 class="card-title">{{ 'settings.security.proofOfWork.title'|trans }}</h3>
                {% if form.overrideProofOfWork is defined %}
                    {{ form_widget(form.overrideProofOfWork) }}
                {% endif %}
            </div>
            <div class="card-body">
                <div class="d-none"><div id="dummy-mosparo-box"></div></div>
                <p>
                    {{ 'settings.security.proofOfWork.intro'|trans }}
                </p>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(form.proofOfWorkActive) }}
                    </div>
                </div>

                <div class="row proof-of-work-data-row mb-3">
                    {{ _self.complexityRow(form.proofOfWorkComplexity) }}
                </div>

                <div class="sub-card-body">
                    <h4>{{ 'settings.security.proofOfWork.subtitle'|trans }}</h4>

                    <p>
                        {{ 'settings.security.proofOfWork.introDynamicComplexity'|trans }}
                    </p>

                    <div class="row mb-3">
                        <div class="col">
                            {{ form_row(form.proofOfWorkDynamicComplexityActive) }}
                        </div>
                    </div>

                    <div class="row proof-of-work-data-row mb-3">
                        {{ _self.complexityRow(form.proofOfWorkDynamicComplexityMaxComplexity) }}
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12 col-lg-6">
                            {{ form_row(form.proofOfWorkDynamicComplexityNumberOfSubmissions) }}
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            {{ form_row(form.proofOfWorkDynamicComplexityTimeFrame) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            {{ form_row(form.proofOfWorkDynamicComplexityBasedOnIpAddress) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header card-header-with-override-option">
                <h3 class="card-title">{{ 'settings.security.equalSubmissions.title'|trans }}</h3>
                {% if form.overrideEqualSubmissions is defined %}
                    {{ form_widget(form.overrideEqualSubmissions) }}
                {% endif %}
            </div>
            <div class="card-body">
                <p>
                    {{ 'settings.security.equalSubmissions.intro'|trans }}
                </p>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(form.equalSubmissionsActive) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.equalSubmissionsNumberOfEqualSubmissions) }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.equalSubmissionsTimeFrame) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form_row(form.equalSubmissionsBasedOnIpAddress) }}
                    </div>
                </div>
            </div>
        </div>

        {% if form.ipAllowList is defined %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'settings.security.ipAllowList.title'|trans }}</h3>
                </div>
                <div class="card-body">
                    <p>
                        {{ 'settings.security.ipAllowList.intro'|trans }}
                    </p>

                    {{ form_row(form.ipAllowList) }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
