{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'rule.createChooseType.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-narrow pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/rule_light.svg') }}" class="w-50 mb-5 illustration-light" alt="" />
                <img src="{{ asset('build/images/icons/rule_dark.svg') }}" class="w-50 mb-5 illustration-dark" alt="" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">{{ 'rule.createChooseType.title'|trans }}</h2>

                        <div class="row">
                            {% for ruleType in ruleTypes %}
                                <div class="col-12 col-md-6 mb-3">
                                    <a href="{{ path('rule_create_with_type', { type: ruleType.key }) }}" class="btn btn-outline-primary w-100 h-100 flex-column align-items-start justify-content-start rule-type-button">
                                        <div class="h2">
                                            <i class="{{ ruleType.icon }}"></i>
                                            {{ ruleType.name|trans }}
                                        </div>
                                        <p>
                                            {{ ruleType.description|trans }}
                                        </p>
                                        <ul class="align-items-start mb-0">
                                            {% for subType in ruleType.subtypes %}
                                                <li>{{ subType.name|trans }}</li>
                                            {% endfor %}
                                        </ul>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-auto">
                <a href="{{ path('rule_list') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'rule.backToList'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}