{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'rule.delete.title'|trans({ '%ruleName%': rule.name}) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/rule_light.svg') }}" class="w-50 mb-5 illustration-light" alt="" />
                <img src="{{ asset('build/images/icons/rule_dark.svg') }}" class="w-50 mb-5 illustration-dark" alt="" />
            </div>
        </div>

        <form method="post">
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">{{ 'rule.delete.title'|trans({ '%ruleName%': rule.name }) }}</h2>

                            <div class="alert alert-important alert-danger">
                                <p>
                                    {{ 'rule.delete.confirm'|trans({ '%ruleName%': '<strong>' ~ rule.name|escape ~ '</strong>' })|raw }}
                                </p>
                                <p>
                                    {{ 'general.infoUndo'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="delete-token" value="{{ csrf_token('delete-rule') }}"/>

            <div class="row mt-3">
                <div class="col-12 col-md-auto mt-2 mt-md-0">
                    <a href="{{ path('rule_list') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'rule.backToList'|trans }}
                    </a>
                </div>
                <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="ti ti-circle-minus"></i>
                        {{ 'action.delete'|trans }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}