{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% form_theme form 'project_related/rule/_form_theme.html.twig' %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-12 col-md-auto ms-auto mt-3 mt-md-0 rule-type-information">
        <div class="page-pretitle">
            {{ 'rule.form.ruleType'|trans }}
        </div>
        <div class="h1 page-title">
            <div class="rule-type-label">
                <i class="{{ ruleType.icon }}"></i>
                {{ ruleType.name|trans }}
            </div>
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'rule.form.rule.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.spamRatingFactor) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'rule.form.items.title'|trans }}</h3>
                        <button type="button" class="btn btn-info btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#help-modal">
                            <i class="ti ti-question-mark"></i>
                            {{ 'action.help'|trans }}
                        </button>
                    </div>
                    <div class="card-body rule-items">
                        {{ form_widget(form.items, {'attr': {'allowAddMultiple': ruleType.allowAddMultiple }}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-auto mt-2 mt-md-0">
                <a href="{{ path('rule_list') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'rule.backToList'|trans }}
                </a>
            </div>

            {% if canManage %}
                <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="ti ti-device-floppy"></i>
                        {{ 'action.save'|trans }}
                    </button>
                </div>
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>

    <div class="modal modal-blur fade" tabindex="-1" id="help-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="ti ti-question-mark"></i>
                        {{ 'action.help'|trans }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    {% include ruleType.helpTemplate %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ms-auto" data-bs-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" tabindex="-1" id="add-multiple-items-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="ti ti-square-plus"></i>
                        {{ 'form.addMultipleItems'|trans }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    <form>
                        {{ form_row(addMultipleForm.type) }}
                        {{ form_row(addMultipleForm.items) }}
                        {{ form_row(addMultipleForm.rating) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal" tabindex="1000">{{ 'action.close'|trans }}</button>
                    <button type="button" class="btn btn-primary ms-auto" id="btn-add-multiple-items">
                        <i class="ti ti-square-plus"></i>
                        {{ 'form.addMultipleItems'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% cspscript %}
        <script>
            $(document).ready(function () {
                $('#btn-add-multiple-items').click(function () {
                    let modal = $('#add-multiple-items-modal');
                    let type = modal.find('select[name="rule_add_multiple_items[type]"]').val();
                    let items = modal.find('textarea[name="rule_add_multiple_items[items]"]').val().split("\n");
                    let rating = modal.find('input[name="rule_add_multiple_items[rating]"]').val();

                    let collectionObj = $('.collection-widget');
                    let list = collectionObj.find('.collection-list');
                    let newWidget = list.attr('data-prototype');

                    for (let itemIndex in items) {
                        let item = items[itemIndex];
                        if (item.trim() === '') {
                            continue;
                        }

                        let itemWidget = newWidget.replace(/__name__/g, collectionGetRandomHash());

                        let newElem = $(list.attr('data-widget-tags'));
                        newElem.append(itemWidget);
                        newElem.append($('<button></button>').attr('type', 'button').addClass('btn btn-danger btn-icon-only remove-item-button').html('<i class="ti ti-circle-minus"></i>'));
                        newElem.find('.rule-item-type').val(type);
                        newElem.find('.rule-item-value').val(item);
                        newElem.find('.rule-item-rating').val(rating);
                        newElem.appendTo(list);
                    }

                    collectionToggleRemoveButton(list);
                    $('#add-multiple-items-modal').modal('hide');
                    $('#add-multiple-items-modal').find('.modal-body form')[0].reset();
                });
            });
        </script>
    {% endcspscript %}
{% endblock %}