{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'ruleset.view.rule.title'|trans({ '%ruleName%': rule.name }) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'ruleset.title'|trans }} <i class="ti ti-chevron-right"></i> {{ ruleset.name }} <i class="ti ti-chevron-right"></i>{% endblock %}
{% block pageTitle %}{{ 'ruleset.view.rule.title'|trans({ '%ruleName%': rule.name }) }} {% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'ruleset.view.details.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.details.url'|trans }}</h4>
                                <div>
                                    <code>{{ ruleset.url }}</code>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.details.status'|trans }}</h4>
                                <div>
                                    {% if ruleset.status %}
                                        <span class="text-success"><strong>{{ 'state.active'|trans }}</strong></span>
                                    {% else %}
                                        <span class="text-danger"><strong>{{ 'state.inactive'|trans }}</strong></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.details.spamRatingFactor'|trans }}</h4>
                                <div>
                                    {% if ruleset.spamRatingFactor %}
                                        {{ ruleset.spamRatingFactor }}
                                    {% else %}
                                        <em>1</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.details.lastRefreshedAt'|trans }}</h4>
                                <div>
                                    {% if ruleset.rulesetCache.refreshedAt %}
                                        {{ ruleset.rulesetCache.refreshedAt|date }}
                                    {% else %}
                                        <em>-</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.details.lastUpdatedAt'|trans }}</h4>
                                <div>
                                    {% if ruleset.rulesetCache.updatedAt %}
                                        {{ ruleset.rulesetCache.updatedAt|date }}
                                    {% else %}
                                        <em>-</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.details.numberOfIncludedRules'|trans }}</h4>
                                <div>
                                    {{ ruleset.rulesetCache.rules|length }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'ruleset.view.rule.details.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.rule.details.name'|trans }}</h4>
                                <div>
                                    {{ rule.name }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.rule.details.type'|trans }}</h4>
                                <div>
                                    {% set ruleType = rule_type(rule.type) %}
                                    {% if ruleType %}
                                        <div class="rule-type-label">
                                            <i class="{{ ruleType.icon }}"></i>
                                            {{ ruleType.name|trans }}
                                        </div>
                                    {% else %}
                                        <code>{{ rule.type }}</code>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.rule.details.spamRatingFactor'|trans }}</h4>
                                <div>
                                    {% if rule.spamRatingFactor %}
                                        {{ rule.spamRatingFactor }}
                                    {% else %}
                                        <em>1</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-3 mt-md-1">{{ 'ruleset.view.rule.items.title'|trans }}</h2>

        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div id="ruleset_rule_items">

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-auto">
                <a href="{{ path('ruleset_view', { '_projectId': activeProject.id, 'id': ruleset.id }) }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'ruleset.view.rule.backToRuleset'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    {% cspscript %}
        <script>
            $(function() {
                $('#ruleset_rule_items').initDataTables({{ datatable_settings(datatable) }}, {
                    autoWidth: false,
                    searching: false,
                    info: false,
                    columnDefs: [
                        { width: "20%", targets: 0 },
                        { width: "70%", targets: 1},
                        { width: "10%", targets: 2},
                    ]
                });
            });
        </script>
    {% endcspscript %}
{% endblock %}
