{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'ruleset.view.title'|trans({ '%rulesetName%': ruleset.name }) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'ruleset.title'|trans }} <i class="ti ti-chevron-right"></i>{% endblock %}
{% block pageTitle %}{{ 'ruleset.view.title'|trans({ '%rulesetName%': ruleset.name }) }} {% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'ruleset.view.details.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.details.url'|trans }}</h4>
                                <div>
                                    <code>{{ ruleset.url }}</code>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.details.status'|trans }}</h4>
                                <div>
                                    {% if ruleset.status %}
                                        <span class="text-success"><strong>{{ 'state.active'|trans }}</strong></span>
                                    {% else %}
                                        <span class="text-danger"><strong>{{ 'state.inactive'|trans }}</strong></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.details.spamRatingFactor'|trans }}</h4>
                                <div>
                                    {% if ruleset.spamRatingFactor %}
                                        {{ ruleset.spamRatingFactor }}
                                    {% else %}
                                        <em>1</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.details.lastRefreshedAt'|trans }}</h4>
                                <div>
                                    {% if ruleset.rulesetCache.refreshedAt %}
                                        {{ ruleset.rulesetCache.refreshedAt|date }}
                                    {% else %}
                                        <em>Empty</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'ruleset.view.details.lastUpdatedAt'|trans }}</h4>
                                <div>
                                    {% if ruleset.rulesetCache.updatedAt %}
                                        {{ ruleset.rulesetCache.updatedAt|date }}
                                    {% else %}
                                        <em>Empty</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0 co">
                                <h4 class="mb-0">{{ 'ruleset.view.details.numberOfIncludedRules'|trans }}</h4>
                                <div>
                                    {{ ruleset.rulesetCache.rules|length }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if hasError %}
            <div class="alert alert-danger">
                {{ errorMessage|trans }}
            </div>
        {% endif %}

        <h2 class="mt-3 mt-md-1">{{ 'ruleset.view.includedRules.title'|trans }}</h2>

        {% for rule in ruleset.rulesetCache.rules %}
            <div class="row mb-3" id="{{ rule.uuid }}">
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'ruleset.view.includedRules.ruleDetails'|trans }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.includedRules.name'|trans }}</h4>
                                <div>
                                    {{ rule.name }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <h4 class="mb-0">{{ 'ruleset.view.includedRules.description'|trans }}</h4>
                                <div>
                                    {% if rule.description %}
                                        {{ rule.description }}
                                    {% else %}
                                        <em>{{ 'general.empty'|trans }}</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="">
                                <h4 class="mb-0">{{ 'ruleset.view.includedRules.spamRatingFactor'|trans }}</h4>
                                <div>
                                    {% if rule.spamRatingFactor %}
                                        {{ rule.spamRatingFactor }}
                                    {% else %}
                                        <em>1</em>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card mt-3 mt-md-0">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'ruleset.view.includedRules.items'|trans }}</h3>

                            {% set ruleType = rule_type(rule.type) %}
                            <div class="col-auto ms-auto rule-type-information">
                                <div class="h3 mb-0">
                                    <div class="rule-type-label">
                                        <i class="{{ ruleType.icon }}"></i>
                                        {{ ruleType.name|trans }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table card-table table-striped">
                            <thead>
                                <tr>
                                    <th width="20%">{{ 'ruleset.view.includedRules.type'|trans }}</th>
                                    <th>{{ 'ruleset.view.includedRules.value'|trans }}</th>
                                    <th width="5%">{{ 'ruleset.view.includedRules.rating'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in rule.items %}
                                    <tr>
                                        <td>{{ rule_subtype(ruleType, item.type)|trans }}</td>
                                        <td><code>{{ item.value }}</code></td>
                                        <td>
                                            {% if item.spamRatingFactor %}
                                                {{ item.spamRatingFactor }}
                                            {% else %}
                                                <em>1</em>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row mt-3">
            <div class="col-12 col-md-auto">
                <a href="{{ path('ruleset_list') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'ruleset.backToList'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
