{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'dashboard.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-header border-0">
                        <div class="card-title">{{ 'submission.title'|trans }}</div>
                        <a href="{{ path('submission_list') }}" class="ms-auto btn btn-light btn-pill btn-icon-sm">
                            <i class="ti ti-chevron-right"></i>
                        </a>
                    </div>
                    <div class="position-relative">
                        <div class="dashboard-submission-chart" id="submission_chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex flex-column">
                <div class="card mb-3 flex-fill">
                    <div class="card-header border-0">
                        <div class="card-title">{{ 'rule.title'|trans }}</div>
                        <a href="{{ path('rule_list') }}" class="ms-auto btn btn-light btn-pill btn-icon-sm">
                            <i class="ti ti-chevron-right"></i>
                        </a>
                    </div>
                    <div class="card-body p-2 d-flex flex-column align-items-center">
                        <div class="card-number flex-fill d-flex align-items-center">{{ numberOfRules }}</div>
                    </div>
                </div>
                <div class="card mb-3 flex-fill">
                    <div class="card-header border-0">
                        <div class="card-title">{{ 'ruleset.title'|trans }}</div>
                        <a href="{{ path('ruleset_list') }}" class="ms-auto btn btn-light btn-pill btn-icon-sm">
                            <i class="ti ti-chevron-right"></i>
                        </a>
                    </div>
                    <div class="card-body p-2 d-flex flex-column align-items-center">
                        <div class="card-number flex-fill d-flex align-items-center">{{ numberOfRulesets }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('apexcharts', null, '', { 'id': 'apexcharts-css' }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% cspscript %}
        <script>
            $(document).ready(function () {
                let chartOptions = {
                    series: [
                        {
                            name: "{{ 'dashboard.chart.valid'|trans }}",
                            data: {{ noSpamSubmissionsData|json_encode|raw }}
                        },
                        {
                            name: "{{ 'dashboard.chart.spam'|trans }}",
                            data: {{ spamSubmissionsData|json_encode|raw }}
                        }
                    ],
                    chart: {
                        type: "area",
                        background: '#fff',
                        fontFamily: 'inherit',
                        height: 250,
                        stacked: true,
                        offsetY: -10,
                        parentHeightOffset: 5,
                        animations: {
                            enabled: false
                        },
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: false
                        },
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    fill: {
                        colors: ['#EAF7EC', '#FBEBEB'],
                        type: 'gradient',
                        gradient: {
                            inverseColors: false,
                            shade: 'light',
                            type: "vertical",
                            opacityFrom: 0.9,
                            opacityTo: 0.6,
                            stops: [0, 100, 100, 100]
                        }
                    },
                    tooltip: {
                        x: {
                            show: true,
                            format: '{{ chartDateFormat }}',
                            formatter: undefined,
                        }
                    },
                    stroke: {
                        width: 2,
                        lineCap: "round",
                        curve: "smooth",
                    },
                    colors: ['#56B344', '#D63939'],
                    grid: {
                        show: true
                    },
                    legend: {
                        show: false
                    },
                    point: {
                        show: false
                    },
                    xaxis: {
                        labels: {
                            padding: 0,
                            datetimeFormatter: {
                                day: '{{ chartDateFormat }}'
                            }
                        },
                        tooltip: {
                            enabled: false
                        },
                        axisBorder: {
                            show: true,
                        },
                        type: 'datetime',
                    },
                    yaxis: {
                        show: true,
                        labels: {
                            offsetX: 0,
                            offsetY: 3,
                        },
                        tooltip: {
                            enabled: false
                        }
                    },
                };

                var submissionChart = new ApexCharts($('#submission_chart')[0], chartOptions);
                submissionChart.render();
            });
        </script>
    {% endcspscript %}
{% endblock %}