{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'dashboard.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-header border-0 p-0">
                        <div class="card-title p-0 flex-fill">
                            <a href="{{ path('submission_list') }}" class="d-block p-3 text-body dashboard-link">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-blue text-white avatar">
                                            <i class="ti ti-mail"></i>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium">
                                            {{ 'submission.title'|trans }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-green me-2">
                                            <i class="ti ti-check"></i>
                                            {{ numberOfNoSpamSubmissions }}
                                        </span>
                                        <span class="text-danger">
                                            <i class="ti ti-circle-x"></i>
                                            {{ numberOfSpamSubmissions }}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="dashboard-submission-chart" id="submission_chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card mb-3 flex-fill">
                    <div class="card-title mb-0 p-0 flex-fill">
                        <a href="{{ path('rule_list') }}" class="d-block p-3 text-body dashboard-link">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="bg-teal text-white avatar">
                                        <i class="ti ti-tags"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="font-weight-medium">
                                        {{ 'rule.title'|trans }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    {{ numberOfRules }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card mb-3 flex-fill">
                    <div class="card-title mb-0 p-0 flex-fill">
                        <a href="{{ path('ruleset_list') }}" class="d-block p-3 text-body dashboard-link">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="bg-cyan text-white avatar">
                                        <i class="ti ti-stack"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="font-weight-medium">
                                        {{ 'ruleset.title'|trans }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    {{ numberOfRulesets }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card mb-3 flex-fill">
                    <div class="card-title mb-0 p-0 flex-fill">
                        <a href="{{ path('settings_general') }}" class="d-block p-3 text-body dashboard-link">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="bg-azure text-white avatar">
                                        <i class="ti ti-settings"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="font-weight-medium">
                                        {{ 'settings.title'|trans }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('apexcharts', null, '', { 'id': 'apexcharts-css' }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% cspscript %}
        <script type="text/javascript">
            $(document).ready(function () {
                let colors = {
                    background: '#FFFFFF',
                    fill: ['#EAF7EC', '#FBEBEB'],
                    colors: ['#56B344', '#D63939'],
                    shade: 'light',
                    tooltipTheme: 'light',
                };

                if ($('body').hasClass('theme-dark')) {
                    colors = {
                        background: '#1d273b',
                        fill: ['#1d3b21', '#3b1d1d'],
                        colors: ['#56B344', '#D63939'],
                        shade: 'dark',
                        tooltipTheme: 'dark',
                    };
                }

                let chartOptions = {
                    series: [
                        {
                            name: "{{ 'dashboard.chart.valid'|trans }}",
                            data: {{ noSpamSubmissionsData|json_encode|raw }}
                        },
                        {
                            name: "{{ 'dashboard.chart.spam'|trans }}",
                            data: {{ spamSubmissionsData|json_encode|raw }}
                        }
                    ],
                    chart: {
                        type: "area",
                        background: colors.background,
                        fontFamily: 'inherit',
                        height: 250,
                        stacked: true,
                        parentHeightOffset: 5,
                        animations: {
                            enabled: false
                        },
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: false
                        },
                        sparkline: {
                            enabled: false
                        }
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    fill: {
                        colors: colors.fill,
                        type: 'gradient',
                        gradient: {
                            inverseColors: false,
                            shade: colors.shade,
                            type: "vertical",
                            opacityFrom: 0.9,
                            opacityTo: 0.6,
                            stops: [0, 100, 100, 100]
                        }
                    },
                    tooltip: {
                        theme: colors.tooltipTheme,
                        x: {
                            show: true,
                            format: '{{ chartDateFormat }}',
                            formatter: undefined,
                        }
                    },
                    stroke: {
                        width: 2,
                        lineCap: "round",
                        curve: "smooth",
                    },
                    colors: colors.colors,
                    grid: {
                        show: true,
                        strokeDashArray: 4,
                    },
                    legend: {
                        show: false
                    },
                    point: {
                        show: false
                    },
                    xaxis: {
                        labels: {
                            padding: 0,
                            datetimeFormatter: {
                                day: '{{ chartDateFormat }}'
                            }
                        },
                        tooltip: {
                            enabled: false
                        },
                        axisBorder: {
                            show: false,
                        },
                        type: 'datetime',
                    },
                    yaxis: {
                        show: true,
                        labels: {
                            show: true,
                            offsetX: 0,
                            offsetY: 3,
                        },
                        tooltip: {
                            enabled: false
                        }
                    },
                };

                var submissionChart = new ApexCharts($('#submission_chart')[0], chartOptions);
                submissionChart.render();
            });
        </script>
    {% endcspscript %}
{% endblock %}