{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'administration.update.finalize.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    <h2 class="card-title text-center mb-4">{{ 'administration.update.finalize.title'|trans }}</h2>

    <p>
        {{ 'administration.update.finalize.description'|trans }}
    </p>

    {% if showHostsAlert %}
        <div class="alert alert-danger mt-4">
            <div class="alert-title">
                {{ 'administration.update.finalize.hostsAlert.title'|trans }}
            </div>
            <p class="text-muted">
                {{ 'administration.update.finalize.hostsAlert.intro'|trans }}
            </p>
            <p class="text-muted">
                <strong>{{ 'administration.update.finalize.hostsAlert.intro2'|trans }}</strong>
            </p>
            <div class="d-flex justify-content-end">
                <a href="https://documentation.mosparo.io/docs/usage/settings/#hosts" target="_blank" class="btn btn-info">
                    <i class="ti ti-question-mark"></i>
                    {{ 'action.help'|trans }}
                </a>
            </div>
        </div>
    {% endif %}

    <div class="form-footer">
        <a href="{{ path('dashboard') }}" class="btn btn-primary w-100">
            {{ 'setup.buttons.continue'|trans }}
            <i class="ti ti-icon-right ti-chevron-right"></i>
        </a>
    </div>
{% endblock %}
