{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'administration.update.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'administration.update.title'|trans }}{% endblock %}

{% block administrationPageBody %}
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            {% if checkedForUpdates %}
                <div class="card mb-3">
                    {% if isUpdateAvailable %}
                        <div class="card-status-start bg-info"></div>
                        <div class="card-header">
                            <h3 class="card-title">{{ 'administration.update.version.titleAvailable'|trans }}</h3>
                        </div>
                        <div class="card-body">
                            <p>{{ 'administration.update.version.messageAvailable'|trans }}</p>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <h4 class="mb-0">
                                        {{ 'administration.update.installedVersion'|trans }}
                                    </h4>
                                    <div>
                                        {{ mosparoVersion }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4 class="mb-0">
                                        {{ 'administration.update.availableVersion'|trans }}
                                    </h4>
                                    <div>
                                        {{ availableUpdateData.version }}
                                    </div>
                                </div>
                            </div>

                            {% if 'description' in availableUpdateData and 'detailsUrl' in availableUpdateData %}
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <h4 class="mb-1">
                                            {{ 'administration.update.version.releaseNotes'|trans }}
                                        </h4>
                                        <pre class="mb-2">{{ (availableUpdateData.description ?? '')|trim }}</pre>
                                        <div class="d-flex justify-content-end">
                                            <a href="{{ availableUpdateData.detailsUrl ?? '' }}" class="btn btn-info">
                                                <i class="ti ti-info-circle"></i>
                                                {{ 'administration.update.version.releaseNotes'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="alert alert-danger">
                                {% if updatesEnabled %}
                                    {{ 'administration.update.version.warningUpdate'|trans }}
                                {% else %}
                                    {{ 'administration.update.version.warningUpdatesDisabled'|trans }}
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card-status-start bg-success"></div>
                        <div class="card-header">
                            <h3 class="card-title">{{ 'administration.update.version.titleNotAvailable'|trans }}</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                {{ 'administration.update.version.messageNotAvailable'|trans }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="card-footer text-muted">
                        <strong>{{ 'administration.update.version.lastChecked'|trans }}</strong> {{ checkedAt|date }}
                    </div>
                </div>

                {% if isUpdateAvailable and updatesEnabled and downloadCheck.downloadPossible %}
                    <div class="row mt-3 mb-3">
                        <div class="col-12 col-md-auto ms-auto">
                            <a href="{{ path('administration_update_execute') }}" class="btn btn-danger w-100">
                                <i class="ti ti-refresh-dot"></i>
                                {{ 'action.installUpdate'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'administration.update.check.title'|trans }}</h3>
                </div>
                <div class="card-body">
                    <p>
                        {{ 'administration.update.check.intro'|trans }}
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <h4 class="mb-0">
                                {{ 'administration.update.updateChannel'|trans }}
                            </h4>
                            <div>
                                {{ updateChannel|trans }}
                            </div>
                        </div>
                        <div class="col-6">
                            <h4 class="mb-0">
                                {{ 'administration.update.installedVersion'|trans }}
                            </h4>
                            <div>
                                {{ mosparoVersion }}
                            </div>
                        </div>
                    </div>

                    {% if not downloadCheck.downloadPossible %}
                        <div class="mt-3">
                            {% include 'snippets/download-check.html.twig' %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-auto ms-auto">
                    <a href="{{ path('administration_update_check') }}" class="btn btn-primary w-100 {% if not downloadCheck.downloadPossible %}disabled{% endif %}">
                        <i class="ti ti-refresh-dot"></i>
                        {{ 'action.checkForUpdate'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            {{ form_start(settingsForm) }}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'administration.update.settings.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning">
                            {{ 'administration.update.settings.message.infoDevelopChannel'|trans }}
                        </div>

                        {{ form_row(settingsForm.updateChannel) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-auto ms-auto">
                        <button type="submit" class="btn btn-primary w-100" {% if not updatesEnabled %}disabled{% endif %}>
                            <i class="ti ti-device-floppy"></i>
                            {{ 'action.save'|trans }}
                        </button>
                    </div>
                </div>
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}