{% trans_default_domain 'mosparo' %}

<h4>{{ 'rule.type.rating.title'|trans }}</h4>
<p>
    {{ 'rule.type.rating.intro'|trans }}
</p>
<p>
    {{ 'rule.type.rating.infoCalculationMethod'|trans }}
</p>
<p>
    {{
        'rule.type.rating.infoDefaultAndDataType'|trans({
            '%zero%': '<code>0.0</code>',
            '%unlimited%': '<code>' ~ 'general.unlimited'|trans ~ '</code>',
            '%one%': '<code>1.0</code>'
        })|raw
    }}
    {{
        'rule.type.rating.infoValueEqualZero'|trans({
            '%zero%': '<code>0.0</code>',
        })|raw
    }}

</p>