{% trans_default_domain 'mosparo' %}

<p>{{ 'rule.type.ipAddress.intro'|trans }}</p>

<ul>
    <li>
        <strong>{{ 'rule.type.ipAddress.ipAddress.title'|trans }}</strong>
        <p>{{ 'rule.type.ipAddress.ipAddress.intro'|trans }}</p>
        <p>
            <u>{{ 'general.example'|trans }}:</u> <code>192.168.10.10</code> or <code>abcd:ef01::1</code>
        </p>
    </li>
    <li>
        <strong>{{ 'rule.type.ipAddress.subnet.title'|trans }}</strong>
        <p>{{ 'rule.type.ipAddress.subnet.intro'|trans }}</p>
        <p>
            <u>{{ 'general.example'|trans }}:</u> <code>192.168.10.0/24</code> or <code>abcd:ef01::/48</code>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
