{% trans_default_domain 'mosparo' %}

<p>{{ 'The provider rule type allows to filter for AS numbers and country codes.'|trans }}</p>

<p>
    <strong>
        {{ 'To use the provider type it is required to configure the MindMax GeoLite2 database, otherwise, the provider items will not have any effect.'|trans }}
    </strong>
</p>

<a href="{{ path('administration_geoip2_settings') }}" class="btn btn-secondary mb-3">
    <i class="ti ti-map-pin"></i>
    {{ 'GeoIP2 Configuration'|trans }}
</a>

<ul>
    <li>
        <strong>{{ 'AS number'|trans }}</strong>
        <p>{{ 'Enter an AS number which is not allowed to make any submissions. All IP addresses which belongs to this AS number will be blocked.'|trans }}</p>
        <p>
            <u>{{ 'Example'|trans }}:</u> <code>123456</code>
        </p>
    </li>
    <li>
        <strong>{{ 'Country'|trans }}</strong>
        <p>{{ 'Enter an ISO country code which is not allowed to make any submissions. All IP addresses which are registred in this country will be marked as spam.'|trans }}</p>
        <p>
            <u>{{ 'Example'|trans }}:</u> <code>CH</code>
        </p>
        <p>
            <strong>
                {{ 'If you add a country to the rule, it means that nobody from this country can make a submission. While this sounds good on one side it could mean that this will block a real user from submitting a form. Please be careful with this option. The correct localization of IP addresses is never guaranteed.'|trans }}
            </strong>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
