{% trans_default_domain 'mosparo' %}

<p>{{ 'The website rule type allows to filter for URLs.'|trans }}</p>

<ul>
    <li>
        <strong>{{ 'URL'|trans }}</strong>
        <p>{{ 'Enter an URL which is not allowed to submit a submission.'|trans }}</p>
        <p>
            <u>{{ 'Example'|trans }}:</u> <code>//example.com/spam/test-form.html</code>
        </p>
        <p>
            <strong>
                {{ 'It is recommend to start the URL with the protocol or with two slashes for protocol-independent URLs. If the value does not start with the protocol the rule could match wrong URLs.'|trans }}
            </strong>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
