{% trans_default_domain 'mosparo' %}

<p>{{ 'The word rule type allows to filter for words and Regular Expression patterns.'|trans }}</p>

<ul>
    <li>
        <strong>{{ 'Text'|trans }}</strong>
        <p>
            {{
                'Enter a word which should be rated as spam. You can use the star %star% as wildcard. The matching functionality will search for %value%, so you do not have to add the wildcard character at the beginning or at the end of the value.'|trans({
                    '%star%': '<code>*</code>',
                    '%value%': '<code>*value*</code>'
                })|raw
            }}
        </p>
        <p>
            <u>{{ 'Example'|trans }}:</u> <code>pills</code> or <code>lo*ery</code>
        </p>
    </li>
    <li>
        <strong>{{ 'Regular Expression'|trans }}</strong>
        <p>
            {{ 'Enter a Regular Expression pattern which will match a not allowed word. The pattern has to follow the PHP Regular Expression requirements.'|trans }}
        </p>
        <p>
            <u>{{ 'Example'|trans }}:</u> <code>/(seo|s3o)/is</code>
        </p>
    </li>
</ul>

{% include 'project_related/rule/type/help/_rating.html.twig' %}
