{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.advanced.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'settings.advanced.title'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="https://documentation.mosparo.io/docs/usage/settings#advanced-settings" class="btn btn-info" target="_blank">
                <i class="ti ti-question-mark"></i>
                {{ 'action.help'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block settingsPageBody %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.advanced.subtitle.statisticsOptions'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.statisticStorageLimit) }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.advanced.subtitle.languageOptions'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.languageSource) }}
                            {% for child in form.languageSource.children %}
                                {{ form_widget(child) }}
                                <div class="form-text mb-2 help-text">
                                    {% if child.vars.value == 0 %}
                                        {{ 'languageSource.browserFallback.help'|trans }}
                                    {% elseif child.vars.value == 1 %}
                                        {{ 'languageSource.browserHtmlFallback.help'|trans }}
                                    {% elseif child.vars.value == 2 %}
                                        {{ 'languageSource.htmlBrowserFallback.help'|trans }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.advanced.subtitle.developerOptions'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.apiDebugMode) }}
                        {{ form_row(form.verificationSimulationMode) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-auto ms-auto">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="ti ti-device-floppy"></i>
                    {{ 'action.save'|trans }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}