{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.design.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'settings.design.title'|trans }}{% endblock %}

{% macro contrastRatioBox(name) %}
    <div class="accordion cr-accordion" id="contrast-ratio-box-{{ name }}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-crb-{{ name }}" aria-expanded="true">
                    <span class="cra-title">
                        {{ 'settings.design.cr.title'|trans }}
                    </span>
                    <span class="cra-value contrast-ratio-aa">
                        <i class="ti ti-x"></i>
                        AA
                    </span>
                    <span class="cra-value contrast-ratio-aaa">
                        <i class="ti ti-x"></i>
                        AAA
                    </span>
                </button>
            </h2>
            <div id="collapse-crb-{{ name }}" class="accordion-collapse collapse" data-bs-parent="#contrast-ratio-box-{{ name }}">
                <div class="accordion-body pt-0">
                    <table class="table table-bordered table-sm table-vcenter mb-3">
                        <thead>
                            <tr>
                                <td class="col-3"></td>
                                <th class="col-3">{{ 'settings.design.cr.value'|trans }}</th>
                                <th class="col-3">AA</th>
                                <th class="col-3">AAA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cr-text">
                                <th>
                                    {{ 'settings.design.cr.text'|trans }}
                                </th>
                                <td class="cra-table-value">
                                    <div class="contrast-ratio-value">
                                        0
                                    </div>
                                </td>
                                <td class="cra-table-value contrast-ratio-aa">
                                    <i class="ti ti-x"></i>
                                    <span class="cr-min-value"></span>
                                </td>
                                <td class="cra-table-value contrast-ratio-aaa">
                                    <i class="ti ti-x"></i>
                                    <span class="cr-min-value"></span>
                                </td>
                            </tr>
                            {% if name == 'failure' %}
                                <tr class="cr-text-error">
                                    <th>
                                        {{ 'settings.design.cr.textError'|trans }}
                                    </th>
                                    <td class="cra-table-value">
                                        <div class="contrast-ratio-value">
                                            0
                                        </div>
                                    </td>
                                    <td class="cra-table-value contrast-ratio-aa">
                                        <i class="ti ti-x"></i>
                                        <span class="cr-min-value"></span>
                                    </td>
                                    <td class="cra-table-value contrast-ratio-aaa">
                                        <i class="ti ti-x"></i>
                                        <span class="cr-min-value"></span>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <p class="mb-0">
                        {{ 'settings.design.cr.description'|trans }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block settingsPageBody %}
    <div class="row">
        <div class="col-12 mb-3">
            {{ form_start(form) }}
                {% if mode == 'advanced' %}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">{{ 'settings.design.subtitles.dimensionSettings'|trans }}</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                                    {{ form_row(form.boxSize) }}
                                </div>
                                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                                    <div class="form-group">
                                        {{ form_label(form.boxRadius) }}
                                        <div class="input-group">
                                            <button class="btn btn-icon-only btn-decrease-value" type="button">
                                                <i class="ti ti-minus"></i>
                                            </button>
                                            {{ form_widget(form.boxRadius) }}
                                            <span class="input-group-text">px</span>
                                            <button class="btn btn-icon-only btn-increase-value" type="button">
                                                <i class="ti ti-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        {{ form_label(form.boxBorderWidth) }}
                                        <div class="input-group">
                                            <button class="btn btn-icon-only btn-decrease-value" type="button">
                                                <i class="ti ti-minus"></i>
                                            </button>
                                            {{ form_widget(form.boxBorderWidth) }}
                                            <span class="input-group-text">px</span>
                                            <button class="btn btn-icon-only btn-increase-value" type="button">
                                                <i class="ti ti-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header card-header-with-actions">
                            <h2 class="card-title">{{ 'settings.design.subtitles.colorSettings'|trans }}</h2>
                            <div class="card-actions">
                                <div class="d-flex align-items-center">
                                    {{ form_label(form.colorPageBodyBackground, null, { 'label_attr': { 'class': 'me-2 mb-0' } }) }}
                                    {{ form_widget(form.colorPageBodyBackground) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-tabs">
                                <ul class="nav nav-tabs" data-bs-toggle="tabs">
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-preview-normal" class="nav-link active" data-bs-toggle="tab">
                                            <i class="ti ti-checkbox"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.design.subtitles.colors.normal'|trans }}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-preview-focus" class="nav-link" data-bs-toggle="tab">
                                            <i class="ti ti-focus"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.design.subtitles.colors.focus'|trans }}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-preview-loading" class="nav-link" data-bs-toggle="tab">
                                            <i class="ti ti-loader"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.design.subtitles.colors.loading'|trans }}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-preview-success" class="nav-link" data-bs-toggle="tab">
                                            <i class="ti ti-check"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.design.subtitles.colors.success'|trans }}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item only-icon">
                                        <a href="#tabs-preview-error" class="nav-link" data-bs-toggle="tab">
                                            <i class="ti ti-exclamation-circle"></i>
                                            <span class="visible-when-active d-xl-inline">
                                                {{ 'settings.design.subtitles.colors.failure'|trans }}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="card tab-pane active show" id="tabs-preview-normal">
                                        <div class="card-body">
                                            <div class="row contrast-ratio-group">
                                                <div class="col-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorBackground) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorBorder) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorCheckbox) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorText) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorShadow) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorShadowInset) }}
                                                        </div>
                                                        <div class="col-12 mb-3 mb-xl-0">
                                                            {{ form_row(form.showPingAnimation) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="design-mode-page-container mb-3">
                                                        <div class="design-mode-inner-page-container">
                                                            <div class="mosparo-box" id="mosparo-box-{{ random() }}" data-type="normal"></div>
                                                        </div>
                                                    </div>

                                                    {{ _self.contrastRatioBox('normal') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-preview-focus">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFocusCheckbox) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFocusCheckboxShadow) }}
                                                        </div>
                                                        <div class="col-12 logo-container">
                                                            {{ form_row(form.showMosparoLogo) }}
                                                            <div class="message-box bg-azure-lt p-3 mb-3 mb-xl-0 d-none">
                                                                {{ 'settings.design.message.boxRadiusTooLarge'|trans }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="design-mode-page-container">
                                                        <div class="design-mode-inner-page-container">
                                                            <div class="mosparo-box" id="mosparo-box-{{ random() }}" data-type="focus"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-preview-loading">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                            {{ form_row(form.colorLoadingCheckbox) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                            {{ form_row(form.colorLoadingCheckboxAnimatedCircle) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="design-mode-page-container">
                                                        <div class="design-mode-inner-page-container">
                                                            <div class="mosparo-box" id="mosparo-box-{{ random() }}" data-type="loading"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-preview-success">
                                        <div class="card-body">
                                            <div class="row contrast-ratio-group">
                                                <div class="col-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorSuccessBackground) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorSuccessBorder) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorSuccessCheckbox) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorSuccessText) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                            {{ form_row(form.colorSuccessShadow) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                            {{ form_row(form.colorSuccessShadowInset) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="design-mode-page-container mb-3">
                                                        <div class="design-mode-inner-page-container">
                                                            <div class="mosparo-box" id="mosparo-box-{{ random() }}" data-type="success"></div>
                                                        </div>
                                                    </div>

                                                    {{ _self.contrastRatioBox('success') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card tab-pane" id="tabs-preview-error">
                                        <div class="card-body">
                                            <div class="row contrast-ratio-group">
                                                <div class="col-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFailureBackground) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFailureBorder) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFailureCheckbox) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFailureText) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3">
                                                            {{ form_row(form.colorFailureShadow) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                            {{ form_row(form.colorFailureShadowInset) }}
                                                        </div>
                                                        <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                            {{ form_row(form.colorFailureTextError) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="design-mode-page-container mb-3">
                                                        <div class="design-mode-inner-page-container">
                                                            <div class="mosparo-box" id="mosparo-box-{{ random() }}" data-type="failure"></div>
                                                        </div>
                                                    </div>

                                                    {{ _self.contrastRatioBox('failure') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif mode == 'invisible-simple' %}
                    <div class="card mt-3">
                        <div class="card-header card-header-with-actions">
                            <h2 class="card-title">{{ 'settings.design.subtitles.invisibleSimpleDesign'|trans }}</h2>
                            <div class="card-actions">
                                <div class="d-flex align-items-center">
                                    {{ form_label(form.colorPageBodyBackground, null, { 'label_attr': { 'class': 'me-2 mb-0' } }) }}
                                    {{ form_widget(form.colorPageBodyBackground) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-3">
                                    {{ form_row(form.colorLoaderBackground) }}
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-lg-0">
                                    {{ form_row(form.colorLoaderText) }}
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-lg-0">
                                    {{ form_row(form.colorLoaderCircle) }}
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-lg-0">
                                    {{ form_row(form.colorFailureTextError) }}
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-lg-0">
                                    <h4>{{ 'settings.design.form.invisibleLogo'|trans }}</h4>
                                    {{ form_row(form.showMosparoLogo) }}
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-lg-0">
                                    <h4>{{ 'settings.design.form.invisiblePageOverlay'|trans }}</h4>
                                    {{ form_row(form.fullPageOverlay) }}
                                </div>
                            </div>

                            <h3 class="mt-3">{{ 'settings.design.subtitles.preview'|trans }}</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="design-mode-page-container large-preview">
                                        <div class="design-mode-inner-page-container">
                                            <div class="mosparo-box" id="mosparo-box-{{ random() }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card mt-3">
                        <div class="card-header">
                            <h2 class="card-title">{{ 'settings.design.subtitles.simpleDesign'|trans }}</h2>
                        </div>
                        <div class="card-body">
                            {% include 'design/simple.html.twig' %}
                        </div>
                    </div>
                {% endif %}

                <div class="row mt-3">
                    <div class="col-12 col-md-auto mt-2 mt-md-0">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" title="{{ 'settings.design.dropdown.title'|trans }}">
                                <i class="ti ti-palette"></i>
                                {{ 'settings.design.dropdown.title'|trans }}
                            </button>
                            <div class="dropdown-menu">
                                <span class="dropdown-header">{{ 'settings.design.dropdown.groupTitleVisible'|trans }}</span>
                                <a href="{{ path('settings_design_switch_mode', { mode: 'simple' }) }}" class="dropdown-item {% if mode == 'simple' %}active{% endif %}">
                                    <i class="ti ti-check {% if mode != 'simple' %}invisible{% endif %}"></i>
                                    {{ 'settings.design.dropdown.simple'|trans }}
                                </a>
                                <a href="{{ path('settings_design_switch_mode', { mode: 'advanced' }) }}" class="dropdown-item {% if mode == 'advanced' %}active{% endif %}">
                                    <i class="ti ti-check {% if mode != 'advanced' %}invisible{% endif %}"></i>
                                    {{ 'settings.design.dropdown.advanced'|trans }}
                                </a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-header">{{ 'settings.design.dropdown.groupTitleInvisible'|trans }}</span>
                                <a href="{{ path('settings_design_switch_mode', { mode: 'invisible-simple' }) }}" class="dropdown-item {% if mode == 'invisible-simple' %}active{% endif %}">
                                    <i class="ti ti-check {% if mode != 'invisible-simple' %}invisible{% endif %}"></i>
                                    {{ 'settings.design.dropdown.simple'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="ti ti-device-floppy"></i>
                            {{ 'action.save'|trans }}
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'design/scripts.html.twig' %}
{% endblock %}