{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.general.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'settings.general.title'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="https://documentation.mosparo.io/docs/usage/settings#general-settings" class="btn btn-info" target="_blank">
                <i class="ti ti-question-mark"></i>
                {{ 'action.help'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block settingsPageBody %}
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            {{ form_start(form) }}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.general.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.hosts) }}
                        {{ form_row(form.projectGroup) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-auto ms-auto">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="ti ti-device-floppy"></i>
                            {{ 'action.save'|trans }}
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">{{ 'settings.general.connectionDetails.title'|trans }}</h3>
                    <div class="card-actions">
                        <a href="https://documentation.mosparo.io/docs/category/integration/" class="btn btn-info btn-sm" target="_blank">
                            <i class="ti ti-question-mark"></i>
                            {{ 'settings.general.help.integrateMosparo'|trans }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% include 'project/snippets/host.html.twig' %}
                    {% include 'project/snippets/uuid.html.twig' %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'settings.general.apiKeys.title'|trans }}</h3>

                    <div class="card-actions">
                        <a href="{{ path('settings_reissue_keys', { '_projectId': activeProject.id }) }}" class="btn btn-warning">
                            <i class="ti ti-refresh"></i>
                            {{ 'settings.general.action.reissue'|trans }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% include 'project/snippets/public_key.html.twig' %}
                    {% include 'project/snippets/private_key.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}