{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.general.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'settings.general.title'|trans }}{% endblock %}

{% block settingsPageBody %}
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            {{ form_start(form) }}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.general.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.hosts) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.spamScore) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-auto ms-auto">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="ti ti-device-floppy"></i>
                            {{ 'action.save'|trans }}
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">{{ 'settings.general.connectionDetails.title'|trans }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label" for="host">{{ 'settings.general.connectionDetails.host'|trans }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="host" value="{{ app.request.getSchemeAndHttpHost() }}" readonly>
                            <button class="btn btn-icon-only btn-copy-input-value" type="button">
                                <i class="ti ti-clipboard-list"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="projectUuid">{{ 'settings.general.connectionDetails.uuid'|trans }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="projectUuid" value="{{ activeProject.uuid }}" readonly>
                            <button class="btn btn-icon-only btn-copy-input-value" type="button">
                                <i class="ti ti-clipboard-list"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'settings.general.apiKeys.title'|trans }}</h3>

                    <div class="card-actions">
                        <a href="{{ path('settings_reissue_keys') }}" class="btn btn-warning">
                            <i class="ti ti-refresh"></i>
                            {{ 'settings.general.action.reissue'|trans }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label" for="projectPublicKey">{{ 'settings.general.apiKeys.publicKey'|trans }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="projectPublicKey" value="{{ activeProject.publicKey }}" readonly>
                            <button class="btn btn-icon-only btn-copy-input-value" type="button">
                                <i class="ti ti-clipboard-list"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="projectPrivateKey">{{ 'settings.general.apiKeys.privateKey'|trans }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="projectPrivateKey" value="{{ activeProject.privateKey }}" readonly>
                            <button class="btn btn-icon-only btn-copy-input-value" type="button">
                                <i class="ti ti-clipboard-list"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}