{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'Reissue API keys'|trans }}- {{ parent() }}{% endblock %}
{% block pagePreTitle %}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/keys.svg') }}" class="w-50 mb-5" />
            </div>
        </div>

        <form method="post">
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">{{ 'Reissue API keys'|trans }}</h2>

                            <div class="alert alert-important alert-warning">
                                <p>
                                    {{ 'Do you really want to reissue the API keys for the project %projectName%?'|trans({ '%projectName%': '<strong>' ~ project.name ~ '</strong>' })|raw }}
                                </p>
                                <p>
                                    {{ 'You cannot undo this process.'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="reissue-token" value="{{ csrf_token('reissue-api-keys') }}"/>

            <div class="row mt-3">
                <div class="col">
                    <a href="{{ path('settings_member_list') }}" class="btn btn-outline-secondary" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'Back to settings'|trans }}
                    </a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-warning">
                        <i class="ti ti-refresh"></i>
                        {{ 'Reissue'|trans }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}