{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.security.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'settings.security.title'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="https://documentation.mosparo.io/docs/usage/settings#security-settings" class="btn btn-info" target="_blank">
                <i class="ti ti-question-mark"></i>
                {{ 'action.help'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block settingsPageBody %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.security.minimumTime.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ 'settings.security.minimumTime.intro'|trans }}
                        </p>

                        <div class="row">
                            <div class="col mb-3">
                                {{ form_row(form.minimumTimeActive) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_row(form.minimumTimeSeconds) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.security.honeypot.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ 'settings.security.honeypot.intro'|trans }}
                        </p>

                        <div class="row">
                            <div class="col mb-3">
                                {{ form_row(form.honeypotFieldActive) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_row(form.honeypotFieldName) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.security.requestDelaying.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ 'settings.security.requestDelaying.intro'|trans }}
                        </p>
                        <p>
                            {{ 'settings.security.requestDelaying.infoIpAddress'|trans }}
                        </p>

                        <div class="row">
                            <div class="col mb-3">
                                {{ form_row(form.delayActive) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-6 mb-3">
                                {{ form_row(form.delayNumberOfRequests) }}
                            </div>
                            <div class="col-sm-12 col-lg-6 mb-3">
                                {{ form_row(form.delayDetectionTimeFrame) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6 mb-3 mb-lg-0">
                                {{ form_row(form.delayTime) }}
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                {{ form_row(form.delayMultiplicator) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.security.ipLockout.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ 'settings.security.ipLockout.intro'|trans }}
                        </p>

                        <div class="row mb-3">
                            <div class="col">
                                {{ form_row(form.lockoutActive) }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12 col-lg-6">
                                {{ form_row(form.lockoutNumberOfRequests) }}
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                {{ form_row(form.lockoutDetectionTimeFrame) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                {{ form_row(form.lockoutTime) }}
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                {{ form_row(form.lockoutMultiplicator) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'settings.security.ipAllowList.title'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ 'settings.security.ipAllowList.intro'|trans }}
                        </p>

                        {{ form_row(form.ipAllowList) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-auto ms-auto">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="ti ti-device-floppy"></i>
                    {{ 'action.save'|trans }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}