{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.title'|trans }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'settings.title'|trans }}  <i class="ti ti-chevron-right"></i>{% endblock %}

{% block pageFlashes %}
{% endblock %}

{% block pageBody %}
<div class="container-xl">
    <div class="row gx-lg-4">
        <div class="d-none d-lg-block col-lg-2">
            <ul class="nav nav-pills nav-vertical">
                <li class="nav-item">
                    <a href="{{ path('settings_general', { '_projectId': activeProject.id }) }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings_general' %}active{% endif %}">
                        <i class="ti ti-tool"></i>
                        {{ 'settings.general.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('settings_advanced', { '_projectId': activeProject.id }) }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings_advanced' %}active{% endif %}">
                        <i class="ti ti-tools"></i>
                        {{ 'settings.advanced.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('settings_member_list', { '_projectId': activeProject.id }) }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings_member_list' %}active{% endif %}">
                        <i class="ti ti-users"></i>
                        {{ 'settings.projectMember.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('settings_security', { '_projectId': activeProject.id }) }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings_security' %}active{% endif %}">
                        <i class="ti ti-shield"></i>
                        {{ 'settings.security.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('settings_design', { '_projectId': activeProject.id }) }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings_design' %}active{% endif %}">
                        <i class="ti ti-color-swatch"></i>
                        {{ 'settings.design.title'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-10">
            {% set flashes = app.flashes %}
            {% if flashes|length > 0 %}
                {% for label, messages in flashes %}
                    {%- if label == 'notice' -%}
                        {% set class = 'info' %}
                    {%- elseif label == 'success' -%}
                        {% set class = 'success' %}
                    {%- elseif label == 'warning' -%}
                        {% set class = 'warning' %}
                    {%- elseif label == 'error' -%}
                        {% set class = 'danger' %}
                    {%- endif -%}
                    {% for message in messages %}
                        <div class="alert alert-{{ class }}">
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block settingsPageBody %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}