{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% form_theme form 'project_related/rule/_form_theme.html.twig' %}

{% if isNew %}
    {% set title = 'rulePackage.add.title'|trans %}
{% else %}
    {% set title = 'rulePackage.edit.title'|trans({ '%rulePackageName%': rulePackage.name }) %}
{% endif %}

{% block documentTitle %}{{ title }} - {{ parent() }}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/rule_package.svg')|add_path_prefix }}" class="mb-5 illustration-detail" alt="" />
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">
                            {{ title }}
                        </h2>

                        {% if hasError %}
                            <div class="alert alert-danger">
                                {{ 'rulePackage.message.errorWhileUpdating'|trans }}
                                {{ errorMessage|trans }}
                            </div>
                        {% endif %}

                        {{ form_row(form.name) }}
                        {% if form.source is defined %}
                            {{ form_row(form.source) }}
                        {% endif %}
                        {{ form_row(form.status) }}
                        {{ form_row(form.spamRatingFactor) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-auto mt-2 mt-md-0">
                <a href="{{ path('rule_package_list', { '_projectId': activeProject.id }) }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'rulePackage.backToList'|trans }}
                </a>
            </div>
            <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="ti ti-device-floppy"></i>
                    {{ 'action.save'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
