{% extends 'project_related/project_related_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'rulePackage.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'rulePackage.title'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="https://documentation.mosparo.io/docs/usage/rule_packages" class="btn btn-info" target="_blank">
                <i class="ti ti-question-mark"></i>
                {{ 'action.help'|trans }}
            </a>
            {% if canManage %}
                <a href="{{ path('rule_package_add_choose_type', { '_projectId': activeProject.id }) }}" class="btn btn-success add-button">
                    <i class="ti ti-plus"></i>
                    <span>{{ 'rulePackage.add.title'|trans }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div id="rule_packages">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js')|add_path_prefix }}"></script>
    {% cspscript %}
        <script>
            $(function() {
                $('#rule_packages').initDataTables({{ datatable_settings(datatable) }}, {
                    autoWidth: false,
                    searching: false,
                    info: false,
                    columnDefs: [
                        { width: "30%", targets: 0 },
                        { width: "10%", targets: 1 },
                        { width: "8%", targets: 2 },
                        { width: "20%", targets: 3 },
                        { width: "20%", targets: 4 },
                        { width: "1%", targets: 5 }
                    ]
                });
            });
        </script>
    {% endcspscript %}
{% endblock %}
