{% extends 'project_related/project_related_base.html.twig' %}

{% import 'project_related/rule_package/macro/rule_package_types.html.twig' as rt %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'rulePackage.view.title'|trans({ '%rulePackageName%': rulePackage.name }) }} - {{ parent() }}{% endblock %}
{% block pagePreTitle %}{{ parent() }} {{ 'rulePackage.title'|trans }} <i class="ti ti-chevron-right"></i>{% endblock %}
{% block pageTitle %}{{ 'rulePackage.view.title'|trans({ '%rulePackageName%': rulePackage.name }) }} {% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-12 col-md-auto ms-auto mt-3 mt-md-0 rule-type-information">
        <div class="page-pretitle">
            {{ 'rule.form.ruleType'|trans }}
        </div>
        <div class="h1 page-title">
            {{ rt.type(rulePackage.type) }}
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    {% set isManualFeed = rulePackage.type.value == 3 or rulePackage.type.value == 4 %}
    <div class="container-xl">
        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'rulePackage.view.details.title'|trans }}</h3>
                        <button type="button" class="btn btn-info btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#import_modal">
                            <i class="ti ti-stack-push"></i>
                            {{ 'action.howToImport'|trans }}
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'rulePackage.view.details.source'|trans }}</h4>
                                <div>
                                    {% if not isManualFeed %}
                                        <code>{{ rulePackage.source }}</code>
                                    {% else %}
                                        <span class="text-blue"><strong>{{ 'rulePackage.view.details.sourceManualImport'|trans }}</strong></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'rulePackage.view.details.status'|trans }}</h4>
                                <div>
                                    {% if rulePackage.status %}
                                        <span class="text-success"><strong>{{ 'state.active'|trans }}</strong></span>
                                    {% else %}
                                        <span class="text-danger"><strong>{{ 'state.inactive'|trans }}</strong></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <h4 class="mb-0">{{ 'rulePackage.view.details.spamRatingFactor'|trans }}</h4>
                                <div>
                                    {% if rulePackage.spamRatingFactor %}
                                        {{ rulePackage.spamRatingFactor }}
                                    {% else %}
                                        <em>1</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'rulePackage.view.details.lastRefreshedAt'|trans }}</h4>
                                <div>
                                    {% if rulePackage.rulePackageCache and rulePackage.rulePackageCache.refreshedAt %}
                                        {{ rulePackage.rulePackageCache.refreshedAt|date }}
                                    {% else %}
                                        <em>-</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0">
                                <h4 class="mb-0">{{ 'rulePackage.view.details.lastUpdatedAt'|trans }}</h4>
                                <div>
                                    {% if rulePackage.rulePackageCache and rulePackage.rulePackageCache.updatedAt %}
                                        {{ rulePackage.rulePackageCache.updatedAt|date }}
                                    {% else %}
                                        <em>-</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 mb-md-0 co">
                                <h4 class="mb-0">{{ 'rulePackage.view.details.numberOfIncludedRules'|trans }}</h4>
                                <div>
                                    {% if rulePackage.rulePackageCache and rulePackage.rulePackageCache.rules %}
                                        {{ rulePackage.rulePackageCache.rules|length }}
                                    {% else %}
                                        <em>-</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if hasError %}
            <div class="alert alert-danger">
                {{ 'rulePackage.message.errorWhileUpdating'|trans }}
                {{ errorMessage|trans }}
            </div>
        {% endif %}

        {% if rulePackage.rulePackageCache %}
            <div class="d-flex">
                <h2 class="mt-3 mt-md-1">{{ 'rulePackage.view.includedRules.title'|trans }}</h2>

                <div class="col-auto ms-auto">
                    <div class="btn-list">
                        {% if canManage %}
                            <a href="{{ path('rule_package_update_cache', {'_projectId': rulePackage.project.id, 'id': rulePackage.id}) }}" class="btn btn-teal">
                                <i class="ti ti-refresh"></i>
                                {{ 'action.updateCache'|trans }}
                            </a>
                        {% endif %}
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" title="{{ 'rule.filter.dropdown'|trans }}">
                                <i class="ti ti-filter"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a href="{{ path('rule_package_view', { '_projectId': activeProject.id, 'id': rulePackage.id }) }}" class="dropdown-item {% if filter == '' %}active{% endif %}">
                                    <i class="ti ti-check {% if filter != '' %}invisible{% endif %}"></i>
                                    {{ 'rule.filter.options.all'|trans }}
                                </a>
                                <div class="dropdown-divider"></div>
                                {% for ruleType in ruleTypes %}
                                    <a href="{{ path('rule_package_view_filtered', { '_projectId': activeProject.id, 'id': rulePackage.id, 'filter': ruleType.key }) }}" class="dropdown-item {% if filter == ruleType.key %}active{% endif %} {% if not numberOfRulesByType[ruleType.key] is defined %}disabled{% endif %}">
                                        <i class="ti {% if filter == ruleType.key %}ti-check{% else %}{{ ruleType.icon }}{% endif %}"></i>
                                        {{ ruleType.name|trans }}

                                        {% if numberOfRulesByType[ruleType.key] is defined %}
                                            <span class="badge bg-primary ms-2">{{ numberOfRulesByType[ruleType.key] }}</span>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div id="rule_package_rules">

                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% if isManualFeed %}
                <div class="alert alert-info p-5">
                    <h4 class="alert-title">{{ 'rulePackage.view.details.importFirstTitle'|trans }}</h4>

                    <p>{{ 'rulePackage.view.details.importFirst'|trans }}</p>

                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#import_modal">
                        <i class="ti ti-stack-push"></i>
                        {{ 'action.learnMore'|trans }}
                    </button>
                </div>
            {% else %}
                <div class="alert alert-info">
                    {{ 'rulePackage.view.details.noRulePackageCache'|trans }}
                </div>
            {% endif %}
        {% endif %}

        <div class="row mt-3">
            <div class="col-12 col-md-auto">
                <a href="{{ path('rule_package_list', { '_projectId': activeProject.id }) }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                    <i class="ti ti-chevron-left"></i>
                    {{ 'rulePackage.backToList'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" tabindex="-1" id="import_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="ti ti-stack-push"></i>
                        {{ 'rulePackage.view.howtoImport.title'|trans }}
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    <p>{{ 'rulePackage.view.howtoImport.intro'|trans }}</p>
                    {% include 'project_related/rule_package/snippets/howto_import.html.twig' %}
                </div>
                <div class="modal-footer">
                    <a href="https://documentation.mosparo.io/docs/usage/rule_packages" class="btn btn-info" target="_blank">
                        <i class="ti ti-question-mark"></i>
                        {{ 'action.help'|trans }}
                    </a>
                    <button type="button" class="btn ms-auto" data-bs-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js')|add_path_prefix }}"></script>
    {% cspscript %}
        <script>
            $(function() {
                $('#rule_package_rules').initDataTables({{ datatable_settings(datatable) }}, {
                    autoWidth: false,
                    searching: false,
                    info: false,
                    columnDefs: [
                        { width: "40%", targets: 0 },
                        { width: "20%", targets: 1},
                        { width: "15%", targets: 2},
                        { width: "15%", targets: 3},
                        { width: "1%", targets: 4 }
                    ]
                });
            });
        </script>
    {% endcspscript %}
{% endblock %}
