{% extends 'password/password_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'password.emailSent.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    <h2 class="card-title text-center mb-4">{{ 'password.emailSent.title'|trans }}</h2>
    <p>
        {{ 'password.emailSent.infoEmailWithLink'|trans({ '%time%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }) }}
    </p>
    <p>
        {{ 'password.emailSent.infoSpamFolder'|trans({ '%linkStart%': '<a href="' ~ path('security_reset') ~ '">', '%linkEnd%': '</a>' })|raw }}
    </p>
{% endblock %}