{% trans_default_domain 'mosparo' %}

<h1>{{ 'password.email.greeting'|trans }}</h1>

<p>{{ 'password.email.infoUseLink'|trans }}</p>

<a href="{{ url('security_reset_password', {token: resetToken.token}) }}">{{ url('security_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'password.email.infoLinkExpiration'|trans({ '%time%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }) }}</p>

<p>{{ 'password.email.goodbye'|trans }}</p>

<p>mosparo</p>
