{% extends 'password/password_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'password.request.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    <h2 class="card-title text-center mb-4">{{ 'password.request.title'|trans }}</h2>

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <p class="text-muted mb-4">{{ 'password.request.intro'|trans }}</p>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <div class="form-footer">
            <button class="btn btn-primary w-100">
                <i class="ti ti-mail"></i>
                {{ 'password.request.action'|trans }}
            </button>
        </div>
    {{ form_end(requestForm) }}
{% endblock %}
