{% extends 'password/password_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'password.reset.title'|trans }}{% endblock %}

{% block small_body %}
    <h2 class="card-title text-center mb-4">{{ 'password.reset.title'|trans }}</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        <div class="form-footer">
            <button class="btn btn-primary w-100">
                <i class="ti ti-device-floppy"></i>
                {{ 'password.reset.action'|trans }}
            </button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
