{% trans_default_domain 'mosparo' %}

{% set route = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block documentTitle %}{{ mosparoName }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('mosparo') }}
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/favicons/apple-touch-icon-180x180.png') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicons/favicon-32x32.ico') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicons/favicon-96x96.png') }}">
        <meta name="msapplication-square310x310logo" content="{{ asset('build/images/favicons/mstile-310x310.png') }}">
        <meta name="msapplication-TileColor" content="#1d1d1b">
    </head>
    <body class="{% block bodyClasses %}antialised{% endblock %} {% if colorMode is defined and colorMode == 'dark' %}theme-dark{% endif %}">
        {% block body %}
            <div class="wrapper">
                <header class="navbar navbar-expand-lg navbar-light d-print-none">
                    <div class="container-xl">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                            <a href="/">
                                <img src="{{ asset('build/images/mosparo-logo-bird.svg') }}" width="50" alt="mosparo" class="navbar-brand-image d-block d-sm-none" />
                                <img src="{{ asset('build/images/mosparo-logo.svg') }}" width="110" alt="mosparo" class="navbar-brand-image d-none d-sm-block" />
                            </a>
                        </h1>
                        <div class="navbar-nav header-navbar flex-row order-md-last">
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if isUpdateAvailable %}
                                    <div class="nav-item pe-3">
                                        <a href="{{ path('administration_update_overview') }}" class="btn btn-outline-warning">
                                            <i class="ti ti-refresh me-0 me-md-2"></i>
                                            <span class="d-none d-md-block">
                                                {{ 'administration.update.button.updateAvailable'|trans }}
                                            </span>
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="nav-item {% if route starts with 'administration_' %}active{% endif %} me-lg-3">
                                    <a class="nav-link" href="{{ path('administration_overview') }}">
                                        <i class="ti ti-adjustments-horizontal"></i>
                                        <span class="d-none d-xl-block nav-link-title">
                                            {{ 'administration.title'|trans }}
                                        </span>
                                    </a>
                                </div>
                            {% endif %}

                            <div class="nav-item {% if route starts with 'account_' %}active{% endif %} dropdown">
                                <a href="#" class="nav-link avatar-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    <span class="avatar avatar-sm text-center">
                                        <i class="ti ti-user"></i>
                                    </span>
                                    <div class="d-none d-xl-block ps-2">
                                        <div>{{ app.user.username }}</div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <a href="{{ path('account_overview') }}" class="dropdown-item">
                                        <i class="ti ti-adjustments"></i>
                                        {{ 'account.title'|trans }}
                                    </a>
                                    <a href="{{ path('security_logout') }}" class="dropdown-item">
                                        <i class="ti ti-logout"></i>
                                        {{ 'security.logout.title'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <div class="navbar navbar-light project-navbar">
                            <div class="container-xl">
                                <ul class="navbar-nav">
                                    <div class="nav-item dropdown me-lg-2 project-dropdown">
                                        <a href="#" class="btn btn-secondary dropdown-toggle project-dropdown-toggle" aria-label="Open user menu">
                                            <i class="ti ti-folder"></i>
                                            <span class="project-name">
                                                {% if activeProject %}
                                                    {{ activeProject.name }}
                                                {% else %}
                                                    {{ 'header.pleaseChoose'|trans }}
                                                {% endif %}
                                            </span>
                                        </a>
                                        <div class="dropdown-menu project-dropdown-menu">
                                            {% if projects %}
                                                <div class="dropdown-item dropdown-item-with-input">
                                                    <div class="input-group input-group-flat input-with-clear-button w-100">
                                                        <span class="input-group-text">
                                                            <i class="ti ti-search"></i>
                                                        </span>
                                                        <input type="text" class="form-control" name="q" placeholder="{{ 'project.search.placeholder'|trans }}" value="" autocomplete="off">
                                                        <span class="input-group-text">
                                                            <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="{{ 'form.clearField'|trans }}" data-bs-original-title="{{ 'form.clearField'|trans }}">
                                                                <i class="ti ti-x"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider my-0"></div>
                                                <div class="dropdown-projects-list">
                                                    <div class="dropdown-item no-projects-found justify-content-center disabled d-none">
                                                        <i class="ti ti-info-circle"></i>
                                                        {{ 'header.noProjectsFound'|trans }}
                                                    </div>
                                                    {% for project in projects %}
                                                        <a href="{{ path('project_switch', { 'project': project.id }) }}" class="dropdown-item project-item">
                                                            {% if activeProject and activeProject.id == project.id %}
                                                                <i class="ti ti-check"></i>
                                                            {% else %}
                                                                <i class="ti ti-folder"></i>
                                                            {% endif %}
                                                            <span class="project-name">{{ project.name }}</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                                <div class="dropdown-divider mt-0"></div>
                                            {% endif %}
                                            <a href="{{ path('project_list') }}" class="dropdown-item">
                                                <i class="ti ti-folders"></i>
                                                {{ 'project.action.manage'|trans }}
                                            </a>
                                            <a href="{{ path('project_create') }}" class="dropdown-item">
                                                <i class="ti ti-plus"></i>
                                                {{ 'project.create.title'|trans }}
                                            </a>
                                            <div class="dropdown-divider d-block d-lg-none"></div>
                                        </div>
                                    </div>

                                    {% if activeProject %}
                                        <li class="nav-item {% if route == 'dashboard' %}active{% endif %}">
                                            <a class="nav-link" href="{{ path('dashboard') }}">
                                                <i class="ti ti-dashboard"></i>
                                                <span class="nav-link-title">
                                                    {{ 'dashboard.title'|trans }}
                                                </span>
                                            </a>
                                        </li>

                                        <li class="nav-item {% if route starts with 'submission_' %}active{% endif %}">
                                            <a class="nav-link" href="{{ path('submission_list') }}">
                                                <i class="ti ti-mail"></i>
                                                <span class="nav-link-title">
                                                    {{ 'submission.title'|trans }}
                                                </span>
                                            </a>
                                        </li>

                                        <li class="nav-item {% if route starts with 'rule_' %}active{% endif %}">
                                            <a class="nav-link" href="{{ path('rule_list') }}">
                                                <i class="ti ti-tags"></i>
                                                <span class="nav-link-title">
                                                    {{ 'rule.title'|trans }}
                                                </span>
                                            </a>
                                        </li>

                                        <li class="nav-item {% if route starts with 'ruleset_' %}active{% endif %}">
                                            <a class="nav-link" href="{{ path('ruleset_list') }}">
                                                <i class="ti ti-stack"></i>
                                                <span class="nav-link-title">
                                                    {{ 'ruleset.title'|trans }}
                                                </span>
                                            </a>
                                        </li>

                                        {% if isOwner %}
                                            <li class="nav-item {% if route starts with 'settings_' %}active{% endif %} dropdown">
                                                <a class="nav-link dropdown-toggle" href="/" data-bs-toggle="dropdown">
                                                    <i class="ti ti-settings"></i>
                                                    <span class="nav-link-title">
                                                        {{ 'settings.title'|trans }}
                                                    </span>
                                                </a>
                                                <div class="dropdown-menu" data-bs-popper="none">
                                                    <a class="dropdown-item" href="{{ path('settings_general') }}">
                                                        <i class="ti ti-settings"></i>
                                                        {{ 'settings.general.title'|trans }}
                                                    </a>
                                                    <a class="dropdown-item" href="{{ path('settings_member_list') }}">
                                                        <i class="ti ti-users"></i>
                                                        {{ 'settings.projectMember.title'|trans }}
                                                    </a>
                                                    <a class="dropdown-item" href="{{ path('settings_security') }}">
                                                        <i class="ti ti-shield-x"></i>
                                                        {{ 'settings.security.title'|trans }}
                                                    </a>
                                                    <a class="dropdown-item" href="{{ path('settings_design') }}">
                                                        <i class="ti ti-color-swatch"></i>
                                                        {{ 'settings.design.title'|trans }}
                                                    </a>
                                                </div>
                                            </li>
                                        {% endif %}

                                        <li class="nav-item {% if route starts with 'tools_' %}active{% endif %} dropdown">
                                            <a class="nav-link dropdown-toggle" href="/" data-bs-toggle="dropdown">
                                                <i class="ti ti-tool"></i>
                                                <span class="nav-link-title">
                                                    {{ 'tools.title'|trans }}
                                                </span>
                                            </a>
                                            <div class="dropdown-menu" data-bs-popper="none">
                                                <a class="dropdown-item" href="{{ path('tools_rule_tester') }}">
                                                    <i class="ti ti-test-pipe"></i>
                                                    {{ 'tools.ruleTester.title'|trans }}
                                                </a>
                                                <a class="dropdown-item" href="{{ path('tools_export') }}">
                                                    <i class="ti ti-file-export"></i>
                                                    {{ 'tools.export.title'|trans }}
                                                </a>
                                                {% if isOwner %}
                                                    <a class="dropdown-item" href="{{ path('tools_import') }}">
                                                        <i class="ti ti-file-import"></i>
                                                        {{ 'tools.import.title'|trans }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-wrapper">
                    {% block pageContainer %}
                        {% block pageHeader %}
                            <div class="container-xl">
                                <div class="page-header d-print-none">
                                    <div class="row align-items-center">
                                        {% block pageTitleColumn %}
                                            <div class="col">
                                                <div class="page-pretitle">
                                                    {% block pagePreTitle %}{% endblock %}
                                                </div>
                                                <h1 class="page-title">
                                                    {% block pageTitle %}{% endblock %}
                                                </h1>
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}

                        <div class="page-body">
                            {% block pageFlashes %}
                                {% set flashes = app.flashes %}
                                {% if flashes|length > 0 %}
                                    <div class="container-xl">
                                        {% for label, messages in flashes %}
                                            {%- if label == 'notice' -%}
                                                {% set class = 'info' %}
                                            {%- elseif label == 'success' -%}
                                                {% set class = 'success' %}
                                            {%- elseif label == 'warning' -%}
                                                {% set class = 'warning' %}
                                            {%- elseif label == 'error' -%}
                                                {% set class = 'danger' %}
                                            {%- endif -%}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ class }}">
                                                    {{ message|trans }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            {% block pageBody %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('mosparo') }}
        {% endblock %}
    </body>
</html>
