{% extends 'project_related/settings/settings_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'settings.projectMember.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'settings.projectMember.title'|trans }}{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="https://documentation.mosparo.io/docs/usage/settings#project-members" class="btn btn-info" target="_blank">
                <i class="ti ti-question-mark"></i>
                {{ 'action.help'|trans }}
            </a>
            <a href="{{ path('settings_member_add', { '_projectId': activeProject.id }) }}" class="btn btn-success add-button">
                <i class="ti ti-plus"></i>
                <span>{{ 'settings.projectMember.add.title'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block settingsPageBody %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div id="project-members">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    {% cspscript %}
        <script>
            $(function() {
                $('#project-members').initDataTables({{ datatable_settings(datatable) }}, {
                    autoWidth: false,
                    searching: false,
                    info: false,
                    columnDefs: [
                    { width: "60%", targets: 0 },
                    { width: "40%", targets: 1 },
                    { width: "1%", targets: 2 }
                ]
                });
            });
        </script>
    {% endcspscript %}
{% endblock %}
