{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'setup.database.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    {{ form_start(form) }}
        <h2 class="card-title text-center mb-4">{{ 'setup.database.title'|trans }}</h2>

        <p>
            {{ 'setup.database.introduction'|trans }}
        </p>

        <div class="alert alert-info">
            {{ 'setup.database.useEmptyDatabase'|trans }}
        </div>

        {% if submitted and not connected %}
            <div class="alert alert-danger">
                {{ 'setup.database.connectionDataInvalid'|trans }}
            </div>
        {% endif %}

        {% if submitted and tablesExist %}
            <div class="alert alert-danger">
                {{ 'setup.database.mosparoTablesExistInDatabase'|trans }}
            </div>
        {% endif %}

        {% if sqliteVersionMismatch %}
            <div class="alert alert-orange">
                {{ 'setup.database.sqliteVersionMismatch'|trans({'%versionNumber%': sqliteVersionNumber}) }}
            </div>
        {% endif %}

        {{ form_row(form.system) }}
        {{ form_row(form.host) }}
        {{ form_row(form.port) }}
        {{ form_row(form.database) }}
        {{ form_row(form.user) }}
        {{ form_row(form.password) }}

        <div class="alert alert-info d-none" id="alert_mysql_encryption">
            <p>{{ 'setup.database.mysqlEncryption'|trans }}</p>

            <a href="https://documentation.mosparo.io/docs/installation/configure/environment_variables#general-variables" class="btn btn-outline-info w-100" target="_blank">
                {{ 'action.moreInformation'|trans }}
                <i class="ti ti-external-link ti-icon-right"></i>
            </a>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                {{ 'setup.buttons.continue'|trans }}
                <i class="ti ti-icon-right ti-chevron-right"></i>
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% cspscript %}
        <script>
            $('#form_system').change(function () {
                let portField = $('#form_port');
                let databaseFields = $('#form_host, #form_port, #form_database, #form_user, #form_password');
                let databaseFieldsGroup = databaseFields.parents('.form-group');

                if ($(this).val() === 'sqlite') {
                    databaseFields.prop('required', false).prop('disabled', true);
                    databaseFieldsGroup.hide();
                } else {
                    databaseFields.prop('disabled', false);
                    databaseFields.not(portField).prop('required', true);
                    databaseFieldsGroup.show();

                    if ($(this).val() === 'mysql') {
                        portField.val(3306);
                    } else if ($(this).val() === 'postgres') {
                        portField.val(5432);
                    }
                }

                if ($(this).val() === 'mysql') {
                    $('#alert_mysql_encryption').removeClass('d-none');
                } else {
                    $('#alert_mysql_encryption').addClass('d-none');
                }
            });
        </script>
    {% endcspscript %}
{% endblock %}
