{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'setup.mail.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    {{ form_start(form) }}
        <h2 class="card-title text-center mb-4">{{ 'setup.mail.title'|trans }}</h2>

        <p>
            {{ 'setup.mail.introduction'|trans }}
        </p>

        <p>
            {{ 'setup.mail.infoDefault'|trans }}
        </p>

        <div class="alert alert-info mb-4">
            {{ 'setup.mail.infoOtherOptions'|trans({'%linkStart%': '<a href="https://redirect.mosparo.io/mail-others" target="_blank">', '%linkEnd%': '</a>'})|raw }}
        </div>

        {{ form_row(form.useSmtp) }}
        {{ form_row(form.host) }}
        {{ form_row(form.port) }}
        {{ form_row(form.user) }}
        {{ form_row(form.password) }}
        {{ form_row(form.encryption) }}

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                {{ 'setup.buttons.continue'|trans }}
                <i class="ti ti-icon-right ti-chevron-right"></i>
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#form_useSmtp').change(function () {
                if ($(this).is(':checked')) {
                    $('.mail-option').prop('disabled', false);
                } else {
                    $('.mail-option').prop('disabled', 'disabled');
                }
            });
        });
    </script>
{% endblock %}