{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'setup.prerequisites.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    <h2 class="card-title text-center mb-4">{{ 'setup.prerequisites.title'|trans }}</h2>

    <p>
        {{ 'setup.prerequisites.introduction'|trans }}
    </p>

    {% if meetPrerequisites %}
        <div class="alert alert-success">
            {{ 'setup.prerequisites.meetPrerequisites'|trans }}
        </div>
    {% else %}
        <div class="alert alert-danger">
            {{ 'setup.prerequisites.missingPrerequisites'|trans }}
        </div>
    {% endif %}

    {% include 'snippets/prerequisites.html.twig' %}

    <h3 class="mb-0">
        {{ 'setup.prerequisites.types.internetConnection'|trans }}
    </h3>
    <p>
        {{ 'downloadCheck.intro'|trans }}
    </p>
    <div>
        {% include 'snippets/download-check.html.twig' %}
    </div>

    {% if meetPrerequisites %}
        <div class="form-footer">
            <a href="{{ path('setup_database') }}" class="btn btn-primary w-100">
                {{ 'setup.buttons.continue'|trans }}
                <i class="ti ti-icon-right ti-chevron-right"></i>
            </a>
        </div>
    {% else %}
        <div class="form-footer">
            <a href="{{ path('setup_prerequisites') }}" class="btn btn-secondary w-100">
                <i class="ti ti-refresh"></i>
                {{ 'setup.buttons.recheck'|trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}
