{% extends 'small.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'setup.start.title'|trans }} - {{ parent() }}{% endblock %}

{% block small_body %}
    <h2 class="card-title text-center mb-4">{{ 'setup.start.title'|trans }}</h2>

    <p>
        {{ 'setup.start.introduction'|trans }}
    </p>

    <div class="form-footer">
        <a href="{{ path('setup_prerequisites') }}" class="btn btn-primary w-100">
            {{ 'setup.buttons.continue'|trans }}
            <i class="ti ti-icon-right ti-chevron-right"></i>
        </a>
    </div>
{% endblock %}
