{% extends 'administration/administration_base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'administration.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{{ 'administration.title'|trans }}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                    <div class="empty">
                        <div class="empty-img">
                            <a href="{{ path('administration_user_list') }}">
                                <img src="{{ asset('build/images/icons/users.svg') }}" height="128" />
                            </a>
                        </div>
                        <p class="empty-title">{{ 'administration.user.title'|trans }}</p>
                        <p class="empty-subtitle text-muted">
                            {{ 'administration.user.description'|trans }}
                        </p>
                        <div class="empty-action">
                            <a href="{{ path('administration_user_list') }}" class="btn btn-primary">
                                <i class="ti ti-users"></i>
                                {{ 'action.manage'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                    <div class="empty">
                        <div class="empty-img">
                            <a href="{{ path('administration_geoip2_settings') }}">
                                <img src="{{ asset('build/images/icons/geoip.svg') }}" height="128" />
                            </a>
                        </div>
                        <p class="empty-title">{{ 'administration.geoip2.title'|trans }}</p>
                        <p class="empty-subtitle text-muted">
                            {{ 'administration.geoip2.description'|trans }}
                        </p>
                        <div class="empty-action">
                            <a href="{{ path('administration_geoip2_settings') }}" class="btn btn-primary">
                                <i class="ti ti-map-pin"></i>
                                {{ 'action.configure'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}