{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'Delete project %projectName%'|trans({ '%projectName%': project.name }) }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/project.svg') }}" class="w-50 mb-5" />
            </div>
        </div>

        <form method="post">
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">{{ 'Delete project %projectName%'|trans({ '%projectName%': project.name }) }}</h2>

                            <div class="alert alert-important alert-danger">
                                <p>
                                    {{ 'Do you really want to delete the project %projectName%?'|trans({ '%projectName%': '<strong>' ~ project.name ~ '</strong>' })|raw }}
                                </p>
                                <p>
                                    {{ 'You cannot undo this process.'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="delete-token" value="{{ csrf_token('delete-project') }}"/>

            <div class="row mt-3">
                <div class="col">
                    <a href="{{ path('project_list') }}" class="btn btn-outline-secondary" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'Back to projects'|trans }}
                    </a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-danger">
                        <i class="ti ti-circle-minus"></i>
                        {{ 'Delete'|trans }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}