{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'project.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}
    {% if projects|length > 0 %}
        {{ 'project.title'|trans }}
    {% endif %}
{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <form>
                <div class="input-group">
                    <div class="input-group input-group-flat input-with-clear-button w-auto">
                        <input type="text" class="form-control" name="q" placeholder="{{ 'project.search.placeholder'|trans }}" value="{{ searchQuery }}">
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="{{ 'form.clearField'|trans }}" data-bs-original-title="{{ 'form.clearField'|trans }}">
                                <i class="ti ti-x"></i>
                            </a>
                        </span>
                    </div>
                    <button class="btn" type="submit">
                        <i class="ti ti-search me-0"></i>
                    </button>
                </div>
            </form>

            {% if view == 'table' %}
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" title="{{ 'project.filter.dropdown'|trans }}">
                        <i class="ti ti-filter"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="{{ path('project_list', { 'q': searchQuery }) }}" class="dropdown-item {% if filter == '' %}active{% endif %}">
                            <i class="ti ti-check {% if filter != '' %}invisible{% endif %}"></i>
                            {{ 'project.filter.options.all'|trans }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('project_list_filtered', { 'filter': 'active', 'q': searchQuery }) }}" class="dropdown-item {% if filter == 'active' %}active{% endif %}">
                            <i class="ti ti-check {% if filter != 'active' %}invisible{% endif %}"></i>
                            {{ 'project.filter.options.active'|trans }}
                        </a>
                        <a href="{{ path('project_list_filtered', { 'filter': 'inactive', 'q': searchQuery }) }}" class="dropdown-item {% if filter == 'inactive' %}active{% endif %}">
                            <i class="ti ti-check {% if filter != 'inactive' %}invisible{% endif %}"></i>
                            {{ 'project.filter.options.inactive'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="btn-group">
                <a href="{{ path('project_list_switch_view', {'view': 'boxes'}) }}" class="btn {% if view == 'boxes' %}active{% endif %}">
                    <i class="ti ti-list-details me-0"></i>
                </a>
                <a href="{{ path('project_list_switch_view', {'view': 'table'}) }}" class="btn {% if view == 'table' %}active{% endif %} ms-0">
                    <i class="ti ti-columns me-0"></i>
                </a>
            </div>

            {% if is_granted('ROLE_CAN_CREATE_PROJECTS') %}
                <a href="{{ path('project_create') }}" class="btn btn-primary add-button">
                    <i class="ti ti-plus"></i>
                    <span>{{ 'project.create.title'|trans }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    {# Uses the project list which is registred by the Mosparo\Twig\ProjectExtension globally #}
    {% if projects|length > 0 %}
        {% if view == 'boxes' %}
            <div class="container-xl">
                <div class="row">
                    {% for project in projects|filter(project => searchQuery in project.name) %}
                        <div class="col-xs-12 col-sm-6 col-lg-4 col-xxl-3 d-flex">
                            <div class="card card-md mb-3 w-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="text-center">
                                        {% if numberOfSubmissionsByProject[project.id] is defined and numberOfSubmissionsByProject[project.id] %}
                                            <img src="{{ asset('build/images/icons/project_full.svg') }}" class="mb-4 illustration-list" alt="" />
                                        {% else %}
                                            <img src="{{ asset('build/images/icons/project_empty.svg') }}" class="mb-4 illustration-list" alt="" />
                                        {% endif %}
                                    </div>

                                    <h2 class="card-title text-center mb-2">{{ project.name }}</h2>

                                    <p class="text-center flex-fill">
                                        {{ project.description }}
                                    </p>

                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ path('project_switch', { project: project.id }) }}" class="btn btn-secondary w-100">
                                                <i class="ti ti-folder"></i>
                                                {{ 'project.action.goto'|trans }}
                                            </a>
                                        </div>
                                        <div class="col-auto dropdown">
                                            <button type="button" class="btn btn-ghost-white btn-icon-only dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="ti ti-settings"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <div class="dropdown-item disabled">
                                                    {{ 'project.action.id'|trans }}
                                                    <span class="ms-auto">{{ project.id }}</span>
                                                </div>
                                                {% if can_user_manage_project(project) %}
                                                    <div class="dropdown-divider"></div>
                                                    <a href="{{ path('project_delete', { project: project.id }) }}" class="dropdown-item text-red">
                                                        <i class="ti ti-circle-minus"></i>
                                                        {{ 'project.action.delete'|trans }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif view == 'table' %}
            <div class="container-xl">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div id="projects">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container-xl d-flex flex-column justify-content-center">
            <div class="empty">
                <div class="empty-img">
                    <img src="{{ asset('build/images/icons/project_empty.svg') }}" alt="" class="illustration-list" />
                </div>
                <p class="empty-title">{{ 'project.infoNoProjectAvailable'|trans }}</p>
                <p class="empty-subtitle text-muted">{{ 'project.infoCreateProjectOrRequestAccess'|trans }}</p>
                <div class="empty-action">
                    <a href="{{ path('project_create') }}" class="btn btn-primary">
                        <i class="ti ti-plus"></i>
                        {{ 'project.create.title'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if view == 'table' %}
        <!-- Insert this at the end of your body element, but before the closing tag -->
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        {% cspscript %}
            <script>
                $(function() {
                    $('#projects').initDataTables($.extend({}, {{ datatable_settings(datatable) }}, {
                            url: function () {
                                let url = window.location.origin + window.location.pathname;

                                {% if searchQuery %}
                                    url += '?q={{ searchQuery }}'
                                {% endif %}

                                return url;
                            }
                        }), {
                            autoWidth: false,
                            searching: false,
                            info: false,
                            responsive: true,
                            columnDefs: [
                                { width: "70%", targets: 0 },
                                { width: "1%", targets: 2 }
                            ]
                        }
                    );
                });
            </script>
        {% endcspscript %}
    {% endif %}
{% endblock %}
