{% extends 'base.html.twig' %}

{% block documentTitle %}Projects - {{ parent() }}{% endblock %}
{% block pageTitle %}
    {% if projects|length > 0 %}
        Projects
    {% endif %}
{% endblock %}

{% block pageTitleColumn %}
    {{ parent() }}

    <div class="col-auto ms-auto">
        <div class="btn-list">
            <a href="{{ path('project_create') }}" class="btn btn-primary">
                <i class="ti ti-plus"></i>
                Create project
            </a>
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    {# Uses the project list which is registred by the Mosparo\Twig\ProjectExtension globally #}
    {% if projects|length > 0 %}
        <div class="container-xl">
            <div class="row">
                {% for project in projects %}
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xxl-3 d-flex">
                        <div class="card card-md mb-3">
                            <div class="card-body d-flex flex-column">
                                <div class="text-center">
                                    <img src="{{ asset('build/images/icons/project.svg') }}" class="w-50 mb-4" />
                                </div>

                                <h2 class="card-title text-center mb-2">{{ project.name }}</h2>

                                {% if false %}

                                {% endif %}

                                <p class="text-center flex-fill">
                                    {{ project.description }}
                                </p>

                                <div class="row">
                                    <div class="col">
                                        <a href="{{ path('project_switch', { project: project.id }) }}" class="btn btn-secondary w-100">
                                            <i class="ti ti-folder"></i>
                                            Go to project
                                        </a>
                                    </div>
                                    {% if can_user_manage_project(project) %}
                                        <div class="col-auto dropdown">
                                            <button type="button" class="btn btn-ghost-white btn-icon-only dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="ti ti-settings"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('project_delete', { project: project.id }) }}" class="dropdown-item text-red">
                                                    <i class="ti ti-circle-minus"></i>
                                                    Delete project
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container-xl d-flex flex-column justify-content-center">
            <div class="empty">
                <div class="empty-img">
                    <img src="{{ asset('build/images/icons/project.svg') }}" height="128" />
                </div>
                <p class="empty-title">No projects available</p>
                <p class="empty-subtitle text-muted">Create a new project or request access to another project.</p>
                <div class="empty-action">
                    <a href="{{ path('project_create') }}" class="btn btn-primary">
                        <i class="ti ti-plus"></i>
                        Create project
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}