{% trans_default_domain 'mosparo' %}

<p>{{ 'rules.fieldRule.type.word.intro'|trans }}</p>

<ul>
    <li>
        <strong>{{ 'rules.fieldRule.type.word.text.title'|trans }}</strong>
        <p>
            {{
                'rules.fieldRule.type.word.text.intro'|trans({
                    '%star%': '<code>*</code>',
                    '%value%': '<code>*value*</code>'
                })|raw
            }}
        </p>
        <p>
            <u>{{ 'general.example'|trans }}:</u> <code>pills</code> or <code>lo*ery</code>
        </p>
    </li>
    <li>
        <strong>{{ 'rules.fieldRule.type.word.regex.title'|trans }}</strong>
        <p>
            {{ 'rules.fieldRule.type.word.regex.intro'|trans }}
        </p>
        <p>
            <u>{{ 'general.example'|trans }}:</u> <code>/(seo|s3o)/is</code>
        </p>
    </li>
</ul>

{% include 'project_related/rules/field_rule/type/help/_rating.html.twig' %}
