{% extends 'base.html.twig' %}

{% trans_default_domain 'mosparo' %}

{% block documentTitle %}{{ 'account.twoFactor.start.title'|trans }} - {{ parent() }}{% endblock %}
{% block pageTitle %}{% endblock %}

{% block pageBody %}
    <div class="container-tight pb-4">
        <div class="row">
            <div class="col text-center">
                <img src="{{ asset('build/images/icons/two-factor.svg') }}" class="w-50 mb-5" alt="" />
            </div>
        </div>

        {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="card card-md">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">{{ 'account.twoFactor.start.title'|trans }}</h2>

                            <p>
                                {{ 'account.twoFactor.start.intro'|trans }}
                            </p>

                            <div class="text-center mb-3">
                                <img src="{{ path('account_two_factor_qrcode') }}" alt="{{ 'account.twoFactor.start.qrCodeAlt'|trans }}">
                            </div>

                            <p>
                                {{ 'account.twoFactor.start.textManually'|trans }}
                            </p>

                            <div class="row two-factor-code">
                                {% for part in secret|split('', 4) %}
                                    <div class="col mb-3">
                                        {{ part }}
                                    </div>
                                {% endfor %}
                            </div>

                            {{ form_widget(form.secret) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-auto mt-2 mt-md-0">
                    <a href="{{ path('account_overview') }}" class="btn btn-outline-secondary w-100" tabindex="1000">
                        <i class="ti ti-chevron-left"></i>
                        {{ 'account.backToOverview'|trans }}
                    </a>
                </div>
                <div class="col-12 col-md-auto ms-auto order-first order-md-last">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="ti ti-2fa"></i>
                        {{ 'account.twoFactor.action.continue'|trans }}
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}